<div>
  <span class="param-name">Id:</span>
  <span class="param-value">{{model.id}}</span>
</div>
<div>
  <span class="param-name">Label:</span>
  <span class="param-value">{{model.label}}</span>
</div>
<div>
  <span class="param-name">Name:</span>
  <span class="param-value">{{model.humanized_name}}</span>
</div>
<div>
  <span class="param-name">Owner:</span>
  <span class="param-value">{{model.username}}</span>
</div>
<div>
  <span class="param-name">Started at:</span>
  <span class="param-value">{{model.started_at}}</span>
</div>
<div>
  <span class="param-name">Ended at:</span>
  <span class="param-value">{{model.ended_at}}</span>
</div>
<div>
  <span class="param-name">State:</span>
  <span class="param-value">{{model.state}}</span>
</div>
<div>
  <span class="param-name">Result:</span>
  <span class="param-value">{{model.result}}</span>
</div>
<div>
  <span class="param-name">Params:</span>
  <span class="param-value"></span>
</div>
{{#if false}}
<div>
  <span class="param-name">Parent task</span>
</div>
{{/if}}

{{#if false}}
<div>
  <span class="param-name">Sub tasks</span>
</div>
{{/if}}

<div class='row'>
  <div class='col-md-8'>
    <div class='progress-bar-label'>
      {{fa-icon "spinner" spin=isSpin}}
      &nbsp;{{progressBarMsg}}: <span class='no-bold'>{{controller.progressBarSubMsg}}</span> {{model.humanized_errors}} {{model.humanized_errors}}
      <div class='pull-right'>
        {{controller.percentProgress}}%
      </div>
    </div>
    <div class="progress">
      <div class={{progressBarClass}} role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={{controller.percentProgressInt}} style={{controller.styleWidth}}>
      </div>
    </div>
  </div>
</div>

{{#if true}}
<div>
  <span class="param-name">Output:</span>
  <span class="param-value">
    <pre>{{model.humanized_output}}</pre>
  </span>
</div>
{{/if}}

{{#if true}}
<div>
  <span class="param-name">Errors:</span>
  <span class="param-value">
    <pre>{{model.humanized_errors}}</pre>
  </span>
</div>
{{/if}}
