{{!model.length}}
{{!availableHosts.length}}
{{!model}}
{{!isAllChecked}}
<strong>{{model.length}}</strong> of <strong>{{availableHosts.length}}</strong>
available hosts selected {{idsChecked}}
<br />
<br />
<table class="table table-bordered table-striped small">
  <thead>
    <tr>
      <th> {{!input type="checkbox" checked=allChecked TODO}}</th>
      <th> Host Name </th>
      <th> MAC Address </th>
      <th> Host Type </th>
      <th> Vendor </th>
      <th> CPU </th>
      <th> Memory </th>
      <th> # Disks </th>
      <th> Disk Space </th>
      <th> Network </th>
    </tr>
  </thead>

  <tbody>
  {{#each host in availableHosts itemController='discovered-host'}}
     {{tr-hypervisor host=host}}
  {{/each}}
  </tbody>
</table>

<div class='pull-right'>
  <br />
  {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
  <button {{action 'saveHyperVisors' 'rhev-options'}} class='btn btn-primary'>Next</button>
  {{!#link-to 'rhev-options' class='btn btn-primary'}}<!--Next-->{{!/link-to}}
</div>
