<strong>{{cntSelectedHosts}}</strong> of <strong>{{availableHosts.length}}</strong>
available hosts selected {{!idChecked}}
<br />
<br />
<table class="table table-bordered table-striped small">
  <thead>
    <tr>
      <th> {{input type="checkbox" checked=allChecked}}</th>
      <th> MAC </th>
      <th> CPU's </th>
      <th> Memory </th>
    </tr>
  </thead>

  <tbody>
  {{#each host in availableHosts itemController="host"}}
    <tr>
      <td> {{input type="checkbox" name="isSelectedAsHypervisor" checked=host.isSelectedAsHypervisor}}</td>
      <td> {{host.mac}} </td>
      <td> {{host.cpus}} </td>
      <td> {{host.memory}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>
