{{!model.length}}
{{!modelIds}}

<!-- <strong>{{!cntSelectedHosts}}</strong> of <strong>{{!availableHosts.length}}</strong>
available hosts selected {{!idsChecked}}
 -->
<br />
<table class="table table-bordered table-striped small">
  <thead>
    <tr>
      <th> {{!input type="checkbox" checked=allChecked}}</th>
      <th> Name </th>
      <th> MAC </th>
      <th> CPU's </th>
      <th> Memory </th>
    </tr>
  </thead>

  <tbody>
  {{#each host in availableHosts itemController='discovered-host'}}
    <tr>
      <td>
        {{input type="checkbox" name="isSelectedAsHypervisor" checked=host.isSelectedAsHypervisor}}
        {{host.id}}
      </td>
      <td>
        {{#if host.isSelectedAsHypervisor}}
          {{input type="text" value=host.name class='font-control'}}
        {{/if}}
      </td>
      <td> {{host.mac}} </td>
      <td> {{host.cpus}} </td>
      <td> {{host.memory}} {{host.isSelectedAsHypervisor}} {{host.isSelectedAsEngine}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<!-- <button {{!action 'saveHyperVisors'}}>saveHyperVisors</button>
 -->
    <div class='pull-right'>
      <br />
      {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
      <button {{action 'saveHyperVisors'}} class='btn btn-primary'>Next</button>
      {{!#link-to 'rhev-options' class='btn btn-primary'}}<!--Next-->{{!/link-to}}
    </div>
