

<strong>{{model.length}}</strong> hosts found
{{!bs-button title="Refresh Discovered Hosts" type='default'}}
<br />
<br />
<strong>{{cntSelectedHosts}}</strong> {{hostInflection}} selected ({{idChecked}})
<br />
<br />
<table class="table table-bordered table-striped small">
  <thead>
    <tr>
      <th> {{input type="checkbox" checked=allChecked}}</th>
      <th> Name </th>
      <th> MAC </th>
      <th> Vendor </th>
      <th> CPU </th>
      <th> Memory </th>
    </tr>
  </thead>

  <tbody>
  {{#each host in controller.model itemController="host"}}
    <tr>
      <td> {{input type="checkbox" name="isSelectedAsHypervisor" checked=host.isSelectedAsHypervisor}}</td>
      <td> {{host.name}} </td>
      <td> {{host.mac}} </td>
      <td> {{host.vendor}} </td>
      <td> {{host.cpu}} </td>
      <td> {{host.memory}} </td>
      <td> {{host.isSelectedAsHypervisor}} </td>
      <td> {{host.isSelectedAsEngine}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>
