<div class="row">
  <div class="col-md-12">
    <br />
    <form class="form form-horizontal">

      <p>
      Enter an interface to provide external network access for the overcloud.
      </p>

      {{text-f label="External Network Interface"
               value=openStack.externalNetworkInterface
               cssId="external-osp-interface"
               isRequired=true
               disabled=isStarted
               placeholder="Enter External Network Interface"
               }}

      <br />
      <p>
      Enter network blocks to assign to the overcloud for private networking and floating IP addresses.
      </p>


      {{text-f label="Private Network"
               value=model.openstack_overcloud_private_net
               cssId="osp-private-network"
               isRequired=true
               disabled=isStarted
               placeholder="192.168.254.0/24"
               help-inline="CIDR notation, 192.168.254.0/24"
               validator=cidrValidator
               }}

      {{text-f label="Floating IP Network"
               value=model.openstack_overcloud_float_net
               cssId="osp-floating-network"
               isRequired=true
               disabled=isStarted
               placeholder="192.168.253.0/24"
               help-inline="CIDR notation, 192.168.253.0/24"
               validator=cidrValidator
               }}

      {{text-f label="Floating IP Network Gateway"
               value=model.openstack_overcloud_float_gateway
               cssId="osp-float-gatewway"
               isRequired=true
               disabled=isStarted
               validator=ipValidator
               }}

      <br />
      <p>
      Create an administrative password for the overcloud.
      </p>

      {{text-f label="Admin Password" type="password" value=overcloudPassword
               cssId="osp_overcloud_password"
               isRequired=true
               disabled=isStarted}}

      {{text-f label="Confirm Password" type="password" value=confirmOvercloudPassword
               cssId="confirm_osp_overcloud_password"
               isRequired=true
               validator=confirmOvercloudPasswordValidator
               disabled=isStarted
               placeholder="Must match admin password"}}
    </form>
  </div>
</div>

<br />

{{cancel-back-next backRouteName="assign-nodes"
                   disableBack=false
                   nextRouteName=nextStepRouteNameOvercloud
                   disableNext=disableNextOvercloud
                   disableCancel=isStarted
                   deploymentName=deploymentName}}

