{{#if errorMsg}}
  <div class="row">
    <div class='col-md-9 col-lg-6'>
        <div class="alert alert-danger">
          <span class="pficon pficon-error-circle-o"></span>
          {{errorMsg}}
        </div>
    </div>
  </div>
{{else if showLoadingSpinner}}
  <div class="spinner spinner-md spinner-inline"></div>
  <span class='spinner-text'>
    {{loadingSpinnerText}}
  </span>
{{else if isConnected}}
  {{#if stack}}
    <div class="row">
      <div class='col-md-9 col-lg-6'>
          <div class="alert alert-danger undercloud-deploy-alert">
            <span class="pficon pficon-error-circle-o"></span>
            {{#if stackDeleteFailed}}
              Deleting the "{{stack.stack_name}}" stack failed.  You may try again.
            {{else}}
              The undercloud is already running the "{{stack.stack_name}}" stack.
            {{/if}}
            <a {{action 'deleteStack'}}> Delete {{stack.stack_name}}</a> to continue the current deployment or
            <a {{action 'resetCredentials'}}>use a different undercloud</a>.
          </div>
      </div>
    </div>
  {{else}}
    <div class="row">
        <div class='col-md-9 col-lg-6'>
          <div class="alert alert-success undercloud-deploy-alert">
            <span class="pficon pficon-ok"></span>
            Undercloud has been successfully detected. If you want to connect to a different undercloud
            <a {{action 'resetCredentials'}}> click here to enter new credentials</a>.
          </div>
      </div>
    </div>
  {{/if}}
  {{#if dnsMismatch}}
    <div class="row">
      <div class='col-md-9 col-lg-6'>
        <div class='alert alert-warning rhci-alert undercloud-deploy-alert'>
          <i class="fa fa-2x fa-exclamation-triangle warningForValidation validation-alert-icon"></i>
          <p>Possible DNS issues detected:</p>
          <ul class="validation-alert-message">
            {{#if undercloudDnsMismatch}}
              <li>Undercloud DNS ({{undercloud.undercloud_dns}}) does not match Satellite DNS ({{undercloud.satellite_dns}})</li>
            {{/if}}
            {{#if overcloudDnsMismatch}}
              <li>Overcloud DNS ({{undercloud.overcloud_dns}}) does not match Satellite DNS ({{undercloud.satellite_dns}})</li>
            {{/if}}
          </ul>
          <p>Click <a {{action 'updateDns'}}>here</a> to update OpenStack DNS addresses to match Satellite</p>
        </div>
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="row">
    <div class='col-md-9'>
      <form class="form-horizontal undercloud-deploy-form" role="form">
        {{text-f  cssId="undercloudIpInput"
                  label="Undercloud IP"
                  value=openstackDeployment.undercloud_ip_address
                  isRequired=true
                  helpText=undercloudIPHelp
                  validator=undercloudIpValidator
                  disabled=isStarted}}
        {{text-f  cssId="undercloudSshUserInput"
                  label="SSH User"
                  value=openstackDeployment.undercloud_ssh_username
                  isRequired=true
                  disabled=isStarted}}
        {{text-f  cssId="undercloudSshPasswordInput"
                  label="SSH Password"
                  value=openstackDeployment.undercloud_ssh_password
                  type='password'
                  isRequired=true
                  disabled=isStarted}}

        <button id="detectUndercloudButton" class="btn btn-primary pull-left" {{action "deployUndercloud"}} disabled={{deployDisabled}} data-qci='detect-undercloud'>
          Detect Undercloud
        </button>
      </form>
    </div>
  </div>

  {{#if deploymentError}}
    <div class="row">
      <div class="col-md-9 col-lg-6">
        <div class="alert alert-danger undercloud-deploy-alert">
          <span class="pficon pficon-error-circle-o"></span> Undercloud detection failed: {{deploymentError}}
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

{{cancel-back-next backRouteName=backRouteNameUndercloud
                    disableBack=false
                    nextRouteName='openstack.register-nodes'
                    disableNext=disableDeployUndercloudNext
                    disableCancel=isStarted
                    deploymentName=deploymentName}}
