{{#if showErrorMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          &nbsp;
          {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class='row'>
  <div class='col-md-11 col-md-offset-1'>

    {{#accordion-item name=controllers.deployment.nameSatellite isOpen=true}}
      Name: {{#link-to 'satellite'}}{{controllers.deployment.name}}{{/link-to}} <br />

      Organization: {{#link-to 'configure-organization'}}{{controllers.deployment.organization.name}}{{/link-to}} <br />

      Environment: {{#link-to 'configure-environment'}}{{controllers.deployment.lifecycle_environment.name}}{{/link-to}}  <br />

    {{/accordion-item}}

  {{#if isRhev}}
    {{#accordion-item name=controllers.deployment.nameRhev isOpen=isRhevOpen}}

      Setup Type: {{#link-to 'rhev-setup'}} {{controllers.rhev-setup.rhevSetupTitle}} {{/link-to}}
      <br />
      {{#if isSelfHosted}}
          {{review-link label='Hypervisor/Engine' routeName='engine.discovered-host' isRequired=true
                        value=selectedRhevEngine.name}}
      {{else}}
          {{review-link label='Engine' routeName='engine.discovered-host' isRequired=true
                        value=selectedRhevEngine.name}}

          {{#review-link label='Hypervisor(s)' routeName='hypervisor.discovered-host' isRequired=true
                         value=selectedHypervisorHosts useYieldInstead=true}}
              <br />
              {{#each host in selectedHypervisorHosts}}
                  {{#link-to 'hypervisor.discovered-host'}} {{host.name}}.rhci.redhat.com {{/link-to}}<br />
              {{/each}}
          {{/review-link}}
      {{/if}}

      <br />

      {{review-link label='Root password for Engine and Hypervisor(s)' routeName='rhev-options' isRequired=true
                    isPassword=true value=controllers.deployment.rhev_root_password }}

      {{review-link label='Engine admin password' routeName='rhev-options' isRequired=true isPassword=true
                    value=controllers.deployment.rhev_engine_admin_password }}

      {{review-link label='Datacenter Name' routeName='rhev-options' isDefault=true
                    value=controllers.deployment.rhev_database_name}}

      {{review-link label='Cluster Name' routeName='rhev-options' isDefault=true
                    value=controllers.deployment.rhev_cluster_name}}

      {{review-link label='Storage Name' routeName='rhev-options' isDefault=true
                    value=controllers.deployment.rhev_storage_name}}

      {{review-link label='CPU Type' routeName='rhev-options' isDefault=true
                    value=controllers.deployment.rhev_cpu_type}}

      {{review-link label='Storage Type' routeName='storage' isRequired=true
                    value=controllers.deployment.rhev_storage_type}}

      {{review-link label='Storage Address' routeName='storage' isDefault=true
                    value=controllers.deployment.rhev_storage_address}}

      {{review-link label='Storage Path' routeName='storage' isDefault=true
                    value=controllers.deployment.rhev_share_path}}

      <br />
    {{/accordion-item}}
  {{/if}}

  {{#if isOpenStack}}
    {{#accordion-item name=controllers.deployment.nameOpenStack isOpen=isOpenStackOpen}}
    {{/accordion-item}}
  {{/if}}

  {{#if isCloudForms}}
    {{#accordion-item name=controllers.deployment.nameCloudForms isOpen=isCloudFormsOpen}}
      Installation Location:
        {{#link-to 'where-install'}}
          {{controllers.deployment.cfme_install_loc}}
        {{/link-to}}
      <br />
      {{review-link label='CFME Root password' routeName='cloudforms.cfme-configuration' isRequired=true
                    isPassword=true value=controllers.deployment.cfme_root_password }}
      <br />
    {{/accordion-item}}
  {{/if}}

  {{#if isSubscriptions}}
    {{#accordion-item name='Subscriptions' isOpen=isSubscriptionsOpen}}
      Subscription Management Application:
        {{#link-to 'subscriptions.management-application'}}
          {{controllers.deployment.upstream_consumer_name}}
        {{/link-to}}
      <br />
    {{/accordion-item}}
  {{/if}}

{{#cancel-back-next backRouteName=''
                    disableBack=false
                    parentController=controller}}
      {{button-f disabled=buttonDeployDisabled title=buttonDeployTitle action="installDeployment"}}
      <br />
      {{input type="checkbox" name="skipContent" checked=skipContent}} Skip Content (DEV ONLY)
{{/cancel-back-next}}



  </div>
</div>

{{outlet}}
