<div class='row'>
  <div class='col-md-11 col-md-offset-1'>

    {{#accordion-item name=controllers.deployment.nameSatellite isOpen=true}}
      Name: {{#link-to 'satellite'}}{{controllers.deployment.name}}{{/link-to}} <br />

      Organization: {{#link-to 'configure-organization'}}{{controllers.deployment.organization.name}}{{/link-to}} <br />

      Environment: {{#link-to 'configure-environment'}}{{controllers.deployment.lifecycle_environment.name}}{{/link-to}}  <br />

    {{/accordion-item}}

  {{#if isRhev}}
    {{#accordion-item name=controllers.deployment.nameRhev isOpen=isRhevOpen}}
      Setup Type: {{#link-to 'rhev-setup'}} {{controllers.rhev-setup.rhevSetupTitle}} {{/link-to}}
      <br />
      {{#if isSelfHosted}}
        Hypervisor/Engine:
        {{#link-to 'engine.discovered-host'}} {{rhev_engine_host.name}} {{/link-to}}<br />
      {{else}}
        Engine:
        {{#link-to 'engine.discovered-host'}} {{rhev_engine_host.name}} {{/link-to}}<br />
        Hypervisor: <br />
        {{#each host in selectedHypervisorHosts}}
          {{#link-to 'hypervisor.discovered-host'}} {{host.name}}.rhci.redhat.com {{/link-to}}<br />
        {{/each}}
      {{/if}}
      {{!hypervisorSelectedId}}
      {{!engineSelectedId}}

      <br />
      Engine admin password:
        {{#link-to 'rhev-options'}}
          *********
        {{/link-to}} <br />
      Datacenter Name:
        {{#link-to 'rhev-options'}}
          {{controllers.deployment.rhev_database_name}}
        {{/link-to}} <br />
      Cluster Name:
        {{#link-to 'rhev-options'}}
          {{controllers.deployment.rhev_cluster_name}}
        {{/link-to}} <br />
      Storage Name:
        {{#link-to 'rhev-options'}}
          {{controllers.deployment.rhev_storage_name}}
        {{/link-to}} <br />
      CPU Type:
        {{#link-to 'rhev-options'}}
          {{controllers.deployment.rhev_cpu_type}}
        {{/link-to}} <br />


      <br />
      Storage Type:
        {{#link-to 'storage'}}
          {{controllers.deployment.rhev_storage_type}}
        {{/link-to}} <br />
          Storage Address:
           {{#link-to 'storage'}}
          {{controllers.deployment.rhev_storage_address}}
          {{/link-to}} <br />
          Share Path:
           {{#link-to 'storage'}}
          {{controllers.deployment.rhev_share_path}}
          {{/link-to}} <br />

      <br />

      <br />
    {{/accordion-item}}
  {{/if}}

  {{#if isOpenStack}}
    {{#accordion-item name=controllers.deployment.nameOpenStack isOpen=isOpenStackOpen}}
      High Availability:
        {{#link-to 'osp-settings'}}
          {{controllers.osp-settings.ha}}
        {{/link-to}} <br />
      Networking:
        {{#link-to 'osp-settings'}}
          {{controllers.osp-settings.networking}}
        {{/link-to}} <br />
      Messaging Provider:
        {{#link-to 'osp-settings'}}
          {{controllers.osp-settings.messaging}}
        {{/link-to}} <br />
      Platform:
        {{#link-to 'osp-settings'}}
          {{controllers.osp-settings.platform}}
        {{/link-to}} <br />
      Service Password:
        {{#link-to 'osp-settings'}}
          {{controllers.osp-settings.password}}
        {{/link-to}} <br />
      Custom Repos:
        {{#link-to 'osp-settings'}}
          {{showdown-addon controllers.osp-settings.customRepos}}
        {{/link-to}}<br />
        <br />

      Tenant Network Type
        {{#link-to 'osp-configuration'}}
          {{controllers.osp-configuration.tenantType}}
        {{/link-to}} <br />
      Core Plugin Type
        {{#link-to 'osp-configuration'}}
          {{controllers.osp-configuration.corePlugin}}
        {{/link-to}} <br />
      Glance Driver Backend
        {{#link-to 'osp-configuration'}}
          {{controllers.osp-configuration.glanceBackend}}
        {{/link-to}} <br />
      Cinder Driver Backend
        {{#link-to 'osp-configuration'}}
          {{controllers.osp-configuration.cinderBackend}}
        {{/link-to}} <br />
    {{/accordion-item}}
  {{/if}}

  {{#if isCloudForms}}
    {{#accordion-item name=controllers.deployment.nameCloudForms isOpen=isCloudFormsOpen}}
      Installation Location:
        {{#link-to 'where-install'}}
          {{controllers.deployment.cfme_install_loc}}
        {{/link-to}} <br />
    {{/accordion-item}}
  {{/if}}

    <br />
    <br />

    <div class='pull-right'>
      <br />
      <button {{action 'showModal' 'cancelDeploymentModal'}} class='btn btn-default'>Cancel</button>
      <button {{action 'installDeployment'}} class='btn btn-primary'>Deploy</button>
    </div>


  </div>
</div>

{{outlet}}
