
<div class='row'>
  <div class='col-md-12'>

    {{#if isRhev}}
      {{#accordion-item name="Red Hat Enterprise Virtualization" isOpen=true}}

        {{review-link label='URL' isExternalURL=true value=rhevEngineUrl}}

        {{review-link label='Username' value='admin'}}

      {{/accordion-item}}
    {{/if}}

    {{#if isOpenStack}}
        {{#accordion-item name="Red Hat Enterprise Linux - OpenStack Platform" isOpen=isOpenStackOpen}}
            {{review-link label='Director URL'
                          value=undercloudUrl
                          isExternalURL=true}}
            {{review-link label='Director username'
                          value=undercloudUsername}}
            {{review-link label='Director password'
                          value=undercloudPassword}}

            {{review-link label='Overcloud URL'
                          value=overcloudUrl
                          isExternalURL=true}}
            {{review-link label='Overcloud username'
                          value=overcloudUsername}}
            {{review-link label='Overcloud password'
                          value=overcloudPassword}}
        {{/accordion-item}}
    {{/if}}

    {{#if isCloudForms}}
      {{#accordion-item name="Cloud Forms Management Engine" isOpen=true}}

        {{review-link label='URL' isExternalURL=true value=cfmeUrl}}

        {{review-link label='Username' value='admin'}}

      {{/accordion-item}}
    {{/if}}

  </div>
</div>

{{#cancel-back-next backRouteName='review.progress.overview'
                    disableBack=false

                    disableCancel=true}}
    {{#link-to 'deployments' role="button" class='btn btn-primary'}}
        View Deployments
    {{/link-to}}
{{/cancel-back-next}}

