
<div class='row'>
  <div class='col-md-12'>

    {{#if isRhev}}
      {{#accordion-item name="Red Hat Enterprise Virtualization" isOpen=true}}

        {{review-link label='URL'
                      value=rhevEngineUrl
                      isExternalURL=true
                      ipAddress=rhevEngineUrlIP}}

        {{review-link label='Username' value='admin'}}

      {{/accordion-item}}
    {{/if}}

    {{#if isOpenStack}}
        {{#accordion-item name="Red Hat Enterprise Linux - OpenStack Platform" isOpen=isOpenStackOpen}}
            {{review-link label='Undercloud URL'
                          value=undercloudUrlIP
                          isExternalURL=true}}
            {{review-link label='Undercloud username'
                          value=undercloudUsername}}
            {{review-link label='Undercloud password'
                          value=undercloudPassword}}

            {{review-link label='Overcloud URL'
                          value=overcloudUrl
                          isExternalURL=true
                          ipAddress=overcloudUrlIP}}
            {{review-link label='Overcloud username'
                          value=overcloudUsername}}
            {{review-link label='Overcloud password'
                          value=overcloudPassword}}
        {{/accordion-item}}
    {{/if}}

    {{#if isOpenShift}}
        {{#accordion-item name="OpenShift Enterprise" isOpen=isOpenShiftOpen}}
          {{#each model.openshift_master_hosts as |masterHost|}}
            {{ose-host-review-link oseHost=masterHost}}
          {{/each}}

          {{#each model.openshift_worker_hosts as |workerHost|}}
            {{ose-host-review-link oseHost=workerHost}}
          {{/each}}

          {{review-link label='Example Application'
                        value=exampleAppUrl
                        isExternalURL=true}}

          {{review-link
            label='WebUI Username '
            value=model.openshift_username}}
          {{review-link
            label='WebUI Password'
            value=model.openshift_user_password}}
        {{/accordion-item}}
    {{/if}}

    {{#if isCloudForms}}
      {{#accordion-item name="Cloud Forms Management Engine" isOpen=true}}

        {{review-link label='Admin Console'
                      value=cfmeUrl
                      isExternalURL=true
                      ipAddress=cfmeUrlIP}}

        {{review-link label='Self-Service Console'
                      value=cfmeUrlSelfService
                      isExternalURL=true
                      ipAddress=cfmeUrlSelfServiceIP}}

        {{review-link label='Username' value='admin'}}

      {{/accordion-item}}
    {{/if}}

  </div>
</div>

{{#cancel-back-next backRouteName='review.progress.overview'
                    disableBack=false

                    disableCancel=true}}
    {{#link-to 'deployments' role="button" class='btn btn-primary'}}
        View Deployments
    {{/link-to}}
{{/cancel-back-next}}

