<div class="clearfix">
   <div class="form-group {{if hasError 'has-error'}}">

      <label class="control-label {{labelClassSize}} {{class}}">
        {{#if isRequired}}
          <span class='errorForValidation'>*</span>
        {{/if}}
        <label class="class">
          {{label}}
        </label>
        {{#if showHelpPopover}}
          <button class="pficon fa fa-info-circle rhci-popover-button" data-original-title={{label}} data-toggle="popover" data-trigger="focus" data-html="true" data-content={{helpText}}></button>
        {{/if}}
      </label>

      <div class="{{inputClassSize}}">
        {{yield}}
      </div>

      {{#if showUnits}}
         <div class="{{unitsClassSize}}">
           {{unitsLabel}}
         </div>
      {{/if}}

      <span class='help-block'>
       {{help-inline}}
      </span>

   </div>
</div>