<div class="clearfix">
   <div class="form-group">

      <label {{bind-attr class=":control-label labelClassSize class"}}>
        {{#if isRequired}}
          <span class='errorForValidation'>*</span>
        {{/if}}
        {{label}}
        {{#if showHelpPopover}}
            <span class="pficon fa fa-info-circle" style="color:#0099d3;" base-popover="true" data-trigger="click" data-original-title={{label}} data-toggle={{helpId}} data-html="true" data-content={{helpText}} data-close=true></span>
        {{/if}}
      </label>

      <div {{bind-attr class="inputClassSize"}}>
        {{yield}}
      </div>

      {{#if showUnits}}
         <div {{bind-attr class="unitsClassSize"}}>
           {{unitsLabel}}
         </div>
      {{/if}}

      <span class='help-block'>
      {{help-inline}}
      </span>

   </div>
</div>