<div class="clearfix">
   <div class="form-group">

      <label {{bind-attr class=":control-label labelClassSize class"}}>
        {{#if isRequired}}
          <span class='errorForValidation'>*</span>
        {{/if}}
        {{label}}
        {{#if showHelpPopover}}
            <span class="pficon pficon-help" style="margin-left: 5px;" title={{helpText}}></span>
        {{/if}}
      </label>

      <div {{bind-attr class="inputClassSize"}}>
        {{yield}}
      </div>

      {{#if showUnits}}
         <div {{bind-attr class="unitsClassSize"}}>
           {{unitsLabel}}
         </div>
      {{/if}}

      <span class='help-block'>
      {{help-inline}}
      </span>

   </div>
</div>