<div class="clearfix">
   <div class="form-group {{if hasError 'has-error'}}">

      <label class="control-label {{labelClassSize}} {{class}}">
        <label class="class">
          {{#if isRequired}}
            <span class='errorForValidation'>*</span>
          {{/if}}
          {{label}}
        </label>
        {{#if showHelpPopover}}
          <button {{action 'doNothing' bubbles=false}}
                  class="pficon fa fa-info-circle rhci-popover-button"
                  tabindex="-1"
                  data-toggle="popover">
          </button>
        {{/if}}
      </label>

      <div class="{{inputClassSize}}">
        {{yield}}
      </div>

      {{#if showUnits}}
        <div class="{{unitsClassSize}}">
          {{unitsLabel}}
        </div>
      {{/if}}

      <div class='help-block col-lg-6 col-md-9 col-sm-7 col-xs-12'>
        {{help-inline}}
      </div>
   </div>
</div>
