<div class="clearfix">
   <div class="form-group {{if hasError 'has-error'}}">

      <label class="control-label {{labelClassSize}} {{class}}">
        {{#if isRequired}}
          <span class='errorForValidation'>*</span>
        {{/if}}
        {{label}}
      </label>

      <div class="{{inputClassSize}}">
        {{yield}}
      </div>

      {{#if showUnits}}
         <div class="{{unitsClassSize}}">
           {{unitsLabel}}
         </div>
      {{/if}}

      <span class='help-block'>
       {{help-inline}}
      </span>

   </div>
</div>