<div class="col-md-9 rhci-steps-buttons">
  <button class="btn btn-default" {{action 'openCancelDeploymentModal'}} disabled={{disableCancel}}>
      Cancel
  </button>
  {{#link-to backRouteName disabled=disableBack role="button" class='btn btn-default'}}
      <i class="fa fa-angle-left"></i> Back
  {{/link-to}}
  {{#if nextRouteName}}
      {{#link-to nextRouteName tagName='button' disabled=disableNext role="button" class='btn btn-primary'}}
          Next <i class="fa fa-angle-right"></i>
      {{/link-to}}
  {{else}}
      {{yield}}
  {{/if}}
</div>

{{partial 'cancel-deployment-modal'}}
