<li class="role role-{{role-type}} {{assignedClass}}">
    <div class="deployment-role-label">
        {{roleLabel}}
    </div>
    {{#if role-assigned}}
        <select class="selectpicker"  {{action "assignNodes" this on="change"}}>
            {{#each option in availableOptions}}
                {{#if option.selected}}
                    <option selected>{{option.label}}</option>
                {{else}}
                    <option >{{option.label}}</option>
                {{/if}}
            {{/each}}
        </select>
    {{/if}}
    <a class="role-option delete">
        <i class="fa fa-times" {{action "removeRole" role-type}}></i>
    </a>
    <a class="role-option edit" >
        <i class="fa fa-pencil" {{action "editRole" role-type}}></i>
    </a>
</li>
