{{#pf-modal-base idModal='namingSchemeModal'
                 openModal=openModal
                 title="Edit Naming Scheme"}}

      {{#pf-modal-body}}
            <p>
            Enforcing a naming scheme will ensure all selected hypervisors get named automatically and consistently.
            </p>

            <form class="form-horizontal">
              <div class="form-group">
                {{select-simple-f label='Host naming scheme'
                                  content=namingOptions
                                  value=hostNamingScheme
                                  disabled=isStarted
                                  labelSize='col-md-4'
                                  inputSize='col-md-5'}}

                {{#if isCustomScheme}}
                    {{text-f label='Prepend host names with'
                             value=customPreprendName
                             disabled=isStarted
                             placeholder='Enter custom prefix'
                             labelSize='col-md-4'
                             inputSize='col-md-5'}}

                    {{#base-f label='Three host example'
                              labelSize='col-md-4'}}
                              {{customPreprendName}}1<br />
                              {{customPreprendName}}2<br />
                              {{customPreprendName}}3<br />
                    {{/base-f}}
                {{/if}}

                {{#if isHypervisorN}}
                    {{#base-f label='Three host example' labelSize='col-md-4'}}
                        hypervisor1<br />
                        hypervisor2<br />
                        hypervisor3<br />
                    {{/base-f}}
                {{/if}}


              </div>
            </form>
      {{/pf-modal-body}}

      {{#pf-modal-footer}}
        <button {{action 'cancelNamingScheme'}} class="btn btn-default">Cancel</button>
        <button {{action 'saveNamingScheme'}} class="btn btn-primary">Edit</button>
      {{/pf-modal-footer}}

{{/pf-modal-base}}
