    <div class="panel panel-default node-profile nodes-coalescing">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <h3 class="node-profile-label h5">{{profile.name}}</h3>
            </div>
            <div class="col-sm-7 col-md-8">
                <h4 class="node-profile-free-nodes h5">Free Nodes: {{profile.freeNodes}}</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <h4 class="h5">Each node has:</h4>
                <table class="table node-specs">
                    <tr>
                        <th>CPU</th>
                        <td>{{profile.cpu}}</td>
                    </tr>
                    <tr>
                        <th>RAM</th>
                        <td>{{profile.ram}} GB</td>
                    </tr>
                    <tr>
                        <th>Disk</th>
                        <td>{{profile.disk}} TB</td>
                    </tr>
                </table>
            </div>
            {{#if doAssign }}
                <div class="col-sm-7 col-md-8">
                    <h4 class="h5">Assigned Nodes</h4>
                    <ul class="deployment-roles deployment-roles-assigned">
                      {{#each role in assignedRoles}}
                        {{#draggable-object content=role}}
                          {{deployment-role profile=profile role-type=role.roleType role-label=role.roleLabel role-assigned=true edit="editRole" remove="removeRole"}}
                        {{/draggable-object}}
                      {{/each}}
                      {{#unless allAssigned}}
                        {{#draggable-object-target action='assignDroppedRole'}}
                            <li class="role-target {{assignMenuOpenClass}}  dropdown">
                                <a id="role-target-dropdown-1" {{action "showAssignMenu" profile bubbles=false}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i> Assign Role
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="role-target-dropdown-1">
                                  {{#unless controllerAssigned}}
                                      <a class="roles-menu-item role-controller" {{action "assignRole" 'controller'}}>Controller</a>
                                  {{/unless}}
                                  {{#unless computeAssigned}}
                                      <a class="roles-menu-item  role-compute" {{action "assignRole" 'compute'}}>Compute</a>
                                  {{/unless}}
                                  {{#unless blockAssigned}}
                                      <a class="roles-menu-item  role-block" {{action "assignRole" 'block'}}>Block Storage</a>
                                  {{/unless}}
                                  {{#unless objectAssigned}}
                                      <a class="roles-menu-item  role-object" {{action "assignRole" 'object'}}>Object Storage</a>
                                  {{/unless}}
                                </ul>
                            </li>
                        {{/draggable-object-target}}
                      {{/unless}}
                    </ul>
                </div>
            {{else}}
                <div class="col-sm-7 col-md-8">
                    <em>Assigning nodes to roles will occur in step {{stepNumberOpenstack}}B.</em>
                </div>
            {{/if}}
        </div>
    </div>
</div>
