<div class='col-xs-2 col-sm-2 col-md-1'>
  <strong>{{label}}</strong>
</div>

<div class='col-xs-4 col-sm-6 col-md-9'>
  {{#if isEditMode}}
    {{simple-text-f value=value
                    class='ose-custom-field'
                    disabled=deploymentController.isStarted
                    validator=validator
                    suffix=suffix
                    placeholder='Enter'}}
  {{else}}
    {{value}} {{suffix}}
  {{/if}}
</div>

