<div class='col-xs-2'>
  <strong>{{label}}</strong>
</div>

<div class='col-md-8'>
  {{#if isEditMode}}
    {{simple-text-f value=value
                    class='ose-custom-field'
                    disabled=deploymentController.isStarted
                    validator=validator
                    suffix=suffix
                    cssId=cssId
                    placeholder='Enter'}}
  {{else}}
    {{value}} {{suffix}}
  {{/if}}
</div>

