
<div class="col-xs-1 osp-node-status-column">
  {{#if isNodeReady}}
    <span class="pficon pficon-ok"></span>
  {{else if isNodeInspecting}}
    <span class="spinner spinner-xs spinner-inline"></span>
  {{else if isNodeError}}
    <span class="fa fa-times-circle-o"></span>
  {{else}}
    <span class="fa fa-exclamation-triangle"></span>
  {{/if}}
</div>
<div class="col-xs-9 osp-node-progress-column">
  <div class="progress osp-node-progress">
    <div class="{{progressBarClass}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{progressWidth}};">
      <span class="osp-node-progress-bar-label">{{label}}</span>
    </div>
  </div>
</div>
<div class="col-xs-2 osp-node-action-column ">
    <button type="button" id="deleteNodeButton{{safeLabel}}" class="btn btn-icon btn-delete-node"
      {{action "onDeleteClicked"}} disabled={{disabled}}><i class="pficon pficon-delete"></i></button>
</div>
