<div class='row'>
  <div class='col-sm-6 col-md-4 col-lg-3 text-right bold'>
    {{label}}
  </div>

  <div class='col-sm-6 col-md-8 col-lg-9'>
    {{#if isExternalURL}}
      <a href={{value}} target="_blank">{{value}}</a>
    {{else if isNotALink}}
      {{value}}
    {{else}}
      {{#link-to routeName}}
          {{#if useYieldInstead}}
            {{yield}}
          {{else}}
            {{valueFormatted}}
          {{/if}}
      {{/link-to}}
      {{#if isPassword}}
              <i {{action 'showPassword'}} class="fa {{eyeIcon}}"></i>
      {{/if}}
    {{/if}}

    {{#if showValidationMessage}}
      <span class='errorForValidation'>
        {{#link-to routeName}}
          {{validationMessage}}
        {{/link-to}}
      </span>
    {{/if}}

    {{#if showDefaultMessage}}
      <span class='defaultValue'>
        {{#link-to routeName}}
          {{defaultMessage}}
        {{/link-to}}
      </span>
    {{/if}}
  </div>
</div>