<div class="row">
  <div class="col-md-12 page-header page-header-rhci">
    <h1>New {{nameRHCI}} Deployment:  {{name}}</h1>
    <ol class="rhci-steps">
      {{wizard-item num=1 name=nameSatellite routeName=routeNameSatellite isDisabled=false currentStepNumber=currentStepNumber}}

      {{#if isRhev}}
        {{wizard-item num=stepNumberRhev name=nameRhev routeName='rhev' isDisabled=isDisabledRhev currentStepNumber=currentStepNumber}}
      {{/if}}

      {{#if isOpenStack}}
        {{wizard-item num=stepNumberOpenstack name=nameOpenStack routeName='openstack' isDisabled=isDisabledOpenstack currentStepNumber=currentStepNumber}}
      {{/if}}

      {{#if isCloudForms}}
        {{wizard-item num=stepNumberCloudForms name=nameCloudForms routeName='cloudforms' isDisabled=isDisabledCloudForms currentStepNumber=currentStepNumber}}
      {{/if}}

      {{#if isSubscriptions}}
        {{wizard-item num=stepNumberSubscriptions name='Subscriptions' routeName='subscriptions'
        isDisabled=isDisabledSubscriptions currentStepNumber=currentStepNumber}}
      {{/if}}

      {{wizard-item num=stepNumberReview name='Review' routeName='review' isDisabled=isDisabledReview currentStepNumber=currentStepNumber}}
    </ol>
  </div><!-- /col -->
</div><!-- /row -->
