<br />
<h1>Select Product(s) for New Cloud Infrastructure Deployment</h1>
<br />
<br />

<div class='col-md-4'>
  <strong>Choose at least one:</strong>

  {{rhci-item isChecked=isRhev name=fullnameRhev tagline=taglineRhev desc=descRhev cssId='is_rhev'}}
  {{rhci-item isChecked=isOpenStack name=fullnameOpenStack tagline=taglineOpenStack desc=descOpenStack cssId='is_openstack' }}
  <br />
  <div>
    <strong>Optionally, choose:</strong>
  </div>

  {{rhci-item isChecked=isCloudForms name=fullnameCloudForms tagline=taglineCloudForms desc=descCloudForms cssId='is_cloudforms' isDisabled=isDisabledCfme }}
  {{rhci-item isChecked=isOpenShift name=fullnameOpenShift tagline=taglineOpenShift desc=descOpenShift cssId='is_openshift' isDisabled=isDisabledOpenShift }}
</div>

<div class='col-md-4'>
  <strong>To deploy the selected products, you will need:</strong>

  <div class='req-block'>
    {{partial 'req-general'}}

    {{#if isRhev}}
      {{partial 'req-rhev'}}
    {{/if}}

    {{#if isOpenStack}}
      {{partial 'req-openstack'}}
    {{/if}}

    {{#if isCloudForms}}
      {{partial 'req-cloudforms'}}
    {{/if}}

    {{#if isOpenShift}}
      {{partial 'req-openshift'}}
    {{/if}}

    {{partial 'req-disconnected'}}
  </div>

  <div class='download-reqs'>
    <a download href="QCI_Requirements.txt">
      <span class="pficon pficon-save"></span>
      Download these requirements
    </a>
  </div>

  <div class='next-start'>
    {{#link-to 'deployments' class="btn btn-default"}}Cancel{{/link-to}}
    {{#link-to satelliteTabRouteName class="btn btn-primary" disabled=disableNextOnStart}}
      Next &nbsp; <i class="fa fa-angle-right"></i> &nbsp;
    {{/link-to}}
  </div>

</div>
