<h1>New {{nameRHCI}} Deployment: {{name}} <span class='edit-deployment'>{{link-to 'edit' routeNameStart}}</span></h1>

{{error-message errorMsg=errorMsg}}

<ul class="rhci-steps">
  {{wizard-item num=1 name=nameSatellite routeName=routeNameSatellite isDisabled=false currentStepNumber=currentStepNumber}}

  {{#if isRhev}}
    {{wizard-item num=stepNumberRhev name=nameRhev routeName='rhev' isDisabled=isDisabledRhev currentStepNumber=currentStepNumber fullname=fullnameRhev}}
  {{/if}}

  {{#if isOpenStack}}
    {{wizard-item num=stepNumberOpenstack name=nameOpenStack routeName='openstack' isDisabled=isDisabledOpenstack currentStepNumber=currentStepNumber fullname=fullnameOpenStack}}
  {{/if}}

  {{#if isOpenShift}}
    {{wizard-item num=stepNumberOpenShift name=nameOpenShift routeName='openshift' isDisabled=isDisabledOpenShift currentStepNumber=currentStepNumber fullname=fullnameOpenShift}}
  {{/if}}

  {{#if isCloudForms}}
    {{wizard-item num=stepNumberCloudForms name=nameCloudForms routeName='cloudforms' isDisabled=isDisabledCloudForms currentStepNumber=currentStepNumber fullname=fullnameCloudForms}}
  {{/if}}

  {{#if isSubscriptions}}
    {{wizard-item num=stepNumberSubscriptions name='Subscriptions' routeName='subscriptions'
    isDisabled=isDisabledSubscriptions currentStepNumber=currentStepNumber}}
  {{/if}}

  {{wizard-item num=stepNumberReview name='Review' routeName='review' isDisabled=isDisabledReview currentStepNumber=currentStepNumber}}
</ul>
