<span id="{{cssId}}">
      <div class='col-md-1 product-item-checkbox'>
        {{input type="checkbox" name="isChecked" checked=isChecked disabled=isDisabled}}
      </div>

      <div class='col-md-9'>
        <div class='product-item-name'>
            <span class="{{if isDisabled 'disabled'}}">
              {{name}}
            </span>
        </div>
        <div class='product-item-tagline'>
            <span class="{{if isDisabled 'disabled'}}">
              {{tagline}}
            </span>

          {{#tool-tip title=desc}}
            <i class="fa fa-info-circle {{if isDisabled 'disabled'}}"></i>
          {{/tool-tip}}
        </div>
      </div>
</span>
