<td> {{#link-to routeNameForEdit deployment }} {{deployment.name}} {{/link-to}}</td>
<td> {{deployment.lifecycle_environment.name}} </td>
<td> {{deployment.organization.name}} </td>
<td> {{statusDisplay}} </td>
<td> {{moment-format deployment.created_at 'lll'}} </td>
<td>
    {{#link-to 'deployment' deployment class='btn btn-sm btn-default'}} Edit {{/link-to}}
    {{#if canDelete}}
        {{delete-deployment-button deployment=deployment action="openDeploymentModal"}}
    {{/if}}
</td>
