<td>
    {{radio-button value=host.model groupValue=selectedRhevEngineHost changed="engineHostChanged" id=host.cssIdHostId}}
</td>
<td>
    {{#if host.isSelectedAsEngine}}
      {{input type="text" value=host.name class='font-control' focus-out='saveHostname' id=host.cssHostHostId}}
    {{/if}}
</td>
<td> {{host.mac}} </td>
<td> {{host.hostType}} </td>
<td> {{!host.vendor}} </td>
<td> {{host.cpus}} CPU</td>
<td> {{host.memory_human_size}}</td>
<td> {{host.disk_count}} </td>
<td> {{host.disks_human_size}} </td>
<td> {{host.subnet_to_s}} </td>
