<td>
    {{radio-button value=host.model groupValue=selectedRhevEngineHost changed="engineHostChanged" id=host.cssIdHostId disabled=disabled}}
</td>
<td class="{{if host.isSelectedAsEngine 'black-font' 'not-selected'}}">
    {{#if host.isSelectedAsEngine}}
      {{input type="text" value=host.model.name class='form-control' focus-out='saveHostname' id=host.cssHostHostId}}
    {{else}}
      Not Selected
    {{/if}}
</td>
<td> {{host.model.mac}} </td>
<td> {{host.hostType}} </td>
<td class='text-center'> {{host.model.cpus}} CPU</td>
<td class='text-center'> {{host.model.memory_human_size}}</td>
<td class='text-center'> {{host.model.disk_count}} </td>
<td class='text-center'> {{host.model.disks_human_size}} </td>
<td> {{host.model.subnet_to_s}} </td>
