<td>
  {{input type="checkbox" name="isSelectedAsHypervisor" checked=isSelectedAsHypervisor id=cssIdHostId disabled=disabled}}
</td>

<td class="{{if isSelectedAsHypervisor 'white-font' 'not-selected'}}">
  {{#if isSelectedAsHypervisor}}
    {{#if isFreeform}}
      {{#if disabled}}
          {{host.name}}
      {{else}}
          {{input type="text" value=host.name class='form-control' focus-out='saveHostname' id=cssHostHostId }}
      {{/if}}
    {{else}}
      {{host.name}}
    {{/if}}
  {{else}}
    Not Selected
  {{/if}}
</td>
<td> {{host.mac}} </td>
<td> {{host.hostType}} </td>
<td> {{!host.vendor}} </td>
<td> {{host.cpus}} CPU</td>
<td> {{host.memory_human_size}}</td>
<td> {{host.disk_count}} </td>
<td> {{host.disks_human_size}} </td>
<td> {{host.subnet_to_s}} </td>
