<td> {{subscription.product_name}} </td>
<td> {{subscription.contract_number}} </td>
<td class="text-center"> {{moment subscription.start_date 'll'}} </td>
<td class="text-center"> {{moment subscription.end_date 'll'}} </td>
<td class="text-center"> {{subscription.quantity_attached}} </td>
<td class="text-center"> {{subscription.total_quantity}} </td>
