{{#if task}}
  <td>
      {{actionNameAndRepository}}
  </td>
  <td>
      {{task.state}}
  </td>
  <td>
      {{task.result}}
  </td>
  <td>
      {{moment task.started_at 'lll'}}
  </td>
  <td>
      <a href={{task.taskUrl}} target='_blank'>View Task</a>
  </td>
{{/if}}