<div class="row">
    <div class="col-md-12">
        <h2>Available Deployment Roles</h2>
        {{#draggable-object-target action="unassignRole"}}
            <div class="row deployment-roles deployment-roles-unassigned deployment-roles-assignable {{droppableClass}}">
              {{#each role in model.plan.roles}}
                {{#draggable-object content=role}}
                  {{deployment-role role=role edit="editRole"}}
                {{/draggable-object}}
              {{/each}}
              {{#unless noneAssigned}}
                {{#draggable-object content=role}}
                  {{deployment-role role-assigned=false}}
                {{/draggable-object}}
              {{/unless}}
            </div>
        {{/draggable-object-target}}
    </div><!-- /col -->
</div><!-- /row -->
<div class="row">
    <div class="col-md-12">
        <h2>Node Profiles</h2>
        {{#each profile in profiles}}
            <div class="row">
                <div class='col-md-7'>
                  {{node-profile profile=profile profiles=profiles doAssign=true assignRole="assignRole" assignRoleType="assignRoleType" unassignRole="unassignRole" editRole="editRole"}}
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-sm-6 col-md-5">
        <!-- a network topology is planned for this space -->
    </div>
</div>

<br />
<div class="row">
    <div class='col-md-9'>
        <div class='pull-right'>
          {{#link-to 'register-nodes' class='btn btn-default'}}
              Back
          {{/link-to}}
            <button {{action 'saveDeployment' nextStepRouteName}}
              {{bind-attr disabled=disableAssignNodesNext}}
                    class='btn btn-primary'>
                Next
            </button>
        </div>
    </div>
</div>
