{{#if showAlertMessage}}
<div class="row">
  <div class='col-md-9'>
    <div class='alert alert-success rhci-alert'>
        <i class="fa fa-2x fa-check-circle-o green-circle"></i>
        &nbsp;
        {{selectedEnvironment.name}} added successfully.
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class='col-md-9'>
    <p>
      Select how this deployment's instances should receive updates.
    </p>
    <div class='ident-radio'>
      {{#radio-button value="immediately" groupValue=envSetup changed="envSetupChanged" id='immediately' disabled=deploymentController.isStarted}}
        <span class="{{if deploymentController.isStarted 'disabled'}}">
          Immediately {{tool-tip srcImage='/assets/r/blue-i.png'
                                 title="Choosing to not use a lifecycle environment will result in a faster deployment time, but new content will become available to your deployment automatically.  If you use a lifecycle environment, then content needs to be manually published to that environment to be available."}}
        </span>
      {{/radio-button}}
      <p class='lifecycle-option-help'>
        Updates will be available to install in the deployment as soon as they are released.
      </p>
    </div>

    <div class='ident-radio'>
      {{#radio-button value="after_publishing" groupValue=envSetup changed="envSetupChanged" id='after_publishing' disabled=isStarted}}
      <span class="{{if isStarted 'disabled'}}">
        After manually publishing them {{tool-tip srcImage='/assets/r/blue-i.png'
                   title="For updates to be available within a deployment, they must be published to the lifecycle environment that is assigned to that deployment."}}
      </span>
      {{/radio-button}}
      <p class='lifecycle-option-help'>
        Updates will only be available to install in the deployment after being manually published to the selected environment.
      </p>
    </div>

  </div>
</div>

<br />

{{#unless useDefaultOrgViewForEnv}}
<div class="row">
  <div class='col-md-9'>

    {{#if hasNoEnvironments}}
        <div class='alert alert-info rhci-alert'>
          No lifecycle environments are in organization <strong>{{selectedOrganization.name}}</strong>
        </div>
    {{else if hasOnlyLibraryEnvironment}}
        <div class="path-selector">
          <ul class="path-list">
            {{env-path-list-item env=libraryEnv
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            <li class="path-list-item">
              <label class="path-list-item-label">
                &nbsp;
              </label>
            </li>
          </ul>
        </div>
    {{else}}
      {{#each priorLibraryEnvironments as |env|}}
        <div class="path-selector">
          <ul class="path-list">
            {{env-path-list-item env=libraryEnv
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            {{env-path-list-item env=env
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            <li class="path-list-item">
              <label class="path-list-item-label">
                &nbsp;
              </label>
            </li>
          </ul>
        </div>
      {{/each}}
    {{/if}}

    <div style='margin-top:15px;'>
      <button class="btn btn-default" {{action 'newEnvironment'}} disabled={{isStarted}}>
        New Environment Path
      </button>
    </div>

  </div>
</div>
{{/unless}}

<br />
<br />

{{partial 'new-environment'}}

{{#cancel-back-next backRouteName=organizationTabRouteName
                    disableBack=false
                    disableCancel=isStarted
                    deploymentName=deploymentName
                    isNew=isNew}}
    {{#if deployment.isNew}}
      <button {{action 'saveDeployment' step1DRouteName}}
              disabled={{disableNextOnLifecycleEnvironment}}
              class='btn btn-primary'>
          {{#if deployment.isSaving}}
            Loading ... <i class="fa fa-angle-right"></i>
          {{else}}
            Next <i class="fa fa-angle-right"></i>
          {{/if}}
      </button>
    {{else}}
      <button {{action 'saveDeployment' step1DRouteName}}
              disabled={{disableNextOnLifecycleEnvironment}}
              class='btn btn-primary'>
          Next <i class="fa fa-angle-right"></i>
      </button>
    {{/if}}
{{/cancel-back-next}}
