<br />
{{#if showAlertMessage}}
<div class="row">
  <div class='col-md-9'>
    <div class='alert alert-success'>
        <i class="fa fa-2x fa-check-circle-o green-circle"></i>
        &nbsp;
        {{selectedEnvironment.name}} added successfully.
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class='col-md-6'>
    <p>
      Select a lifecycle environment for this RHCI deployment. The application lifecycle is divided into lifecycle environments, which mimic each stage of the lifecycle. These lifecycle environments are linked in an environment path. You can promote content along the environment path to the next stage when required. For example, if development completes on a particular version of an application, you can promote this version to the testing environment and start development on the next version.
    </p>
  </div>
</div>

<br />

<div class="row">
  <div class='col-md-9'>

    {{#each env in nonLibraryEnvironments}}
    <div class="path-selector">
      <ul class="path-list">
        <li class="path-list-item">
          <label class="path-list-item-label">
            Library
          </label>
        </li>
        {{env-path-list-item env=env
                             selectedEnvironment=selectedEnvironment
                             action="selectEnvironment"}}
        <li class="path-list-item">
          <label class="path-list-item-label" style='color:gray;'>
            &nbsp;
          </label>
        </li>
      </ul>
    </div>
    {{else}}
      <div class='alert alert-info'>
        No lifecycle environments are in organization <strong>{{selectedOrganization.name}}</strong>
      </div>
    {{/each}}

    <div style='margin-top:15px;'>
      <button class='btn btn-default' {{action 'showModal' 'newEnvironmentModal'}}>
        New Environment Path
      </button>
    </div>

  </div>
</div>

<br />
<br />

<div class="row">
  <div class='col-md-9'>
    <div class='pull-right'>
      {{#link-to organizationTabRouteName class='btn btn-default'}}Back{{/link-to}}
      <button {{action 'saveDeployment' step2RouteName}}
              {{bind-attr disabled=disableNextOnLifecycleEnvironment}}
              class='btn btn-primary'>
          Next
      </button> {{!step2RouteName}}
    </div>
  </div>
</div>

{{#bs-modal name="newEnvironmentModal" fade=true footerButtonsBinding="rhciNewEnvButtons" title="New Environment Path"}}
  {{partial 'new-environment'}}
{{/bs-modal}}