{{#if showAlertMessage}}
<div class="row">
  <div class='col-md-9'>
    <div class='alert alert-success rhci-alert'>
        <i class="fa fa-2x fa-check-circle-o green-circle"></i>
        &nbsp;
        {{selectedEnvironment.name}} added successfully.
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class='col-md-6'>
    <p>
      Select a lifecycle environment for this RHCI deployment. The application lifecycle is divided into lifecycle environments, which mimic each stage of the lifecycle. These lifecycle environments are linked in an environment path. You can promote content along the environment path to the next stage when required. For example, if development completes on a particular version of an application, you can promote this version to the testing environment and start development on the next version.
    </p>
  </div>
</div>

<br />

<div class='default_org_view'>
  {{input type="checkbox" name="useDefaultOrgViewForEnv" checked=useDefaultOrgViewForEnv
          disabled=isStarted}}
  <span class="{{if isStarted 'disabled'}}">
    Use Default Organization View
  </span>
</div>

{{#unless useDefaultOrgViewForEnv}}
<div class="row">
  <div class='col-md-9'>

    {{#if hasNoEnvironments}}
        <div class='alert alert-info rhci-alert'>
          No lifecycle environments are in organization <strong>{{selectedOrganization.name}}</strong>
        </div>
    {{else if hasOnlyLibraryEnvironment}}
        <div class="path-selector">
          <ul class="path-list">
            {{env-path-list-item env=libraryEnv
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            <li class="path-list-item">
              <label class="path-list-item-label">
                &nbsp;
              </label>
            </li>
          </ul>
        </div>
    {{else}}
      {{#each env in priorLibraryEnvironments}}
        <div class="path-selector">
          <ul class="path-list">
            {{env-path-list-item env=libraryEnv
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            {{env-path-list-item env=env
                                 selectedEnvironment=selectedEnvironment
                                 action="selectEnvironment"
                                 disabled=isStarted}}
            <li class="path-list-item">
              <label class="path-list-item-label">
                &nbsp;
              </label>
            </li>
          </ul>
        </div>
      {{/each}}
    {{/if}}

    <div style='margin-top:15px;'>
      {{#em-modal-toggler modal-id="newLifecycleEnvironmentModal" class="btn btn-default" disabled=isStarted}}
        New Environment Path
      {{/em-modal-toggler}}
    </div>

  </div>
</div>
{{/unless}}

<br />
<br />

{{partial 'new-environment'}}

{{#cancel-back-next backRouteName=organizationTabRouteName
                    disableBack=false
                    parentController=controller
                    disableCancel=isStarted}}
    {{#if deployment.isNew}}
      <button {{action 'saveDeployment' step1DRouteName}}
              disabled={{disableNextOnLifecycleEnvironment}}
              class='btn btn-primary'>
          {{#if deployment.isSaving}}
            Loading ... <i class="fa fa-angle-right"></i>
          {{else}}
            Next <i class="fa fa-angle-right"></i>
          {{/if}}
      </button>
    {{else}}
      <button {{action 'saveDeployment' step1DRouteName}}
              disabled={{disableNextOnLifecycleEnvironment}}
              class='btn btn-primary'>
          Next <i class="fa fa-angle-right"></i>
      </button>

      {{/if}}
{{/cancel-back-next}}
