<br />
<h1>Deployments</h1>

<div class='new-deployment-button'>
  {{#link-to 'deployment-new.start' class='btn btn-success'}}
      New Deployment
  {{/link-to}}
</div>

<br />
<form class='form'>
<div class="clearfix">
   <div class="form-group filter-deployments">
     <div class='col-md-5'>
       {{input type='text' class='form-control filter-input'
                           placeholder='Filter ...'
                           value=searchDeploymentString}}
     </div>
     <button class='btn btn-default' style='margin-left:-20px'><i class="fa fa-search"></i> Search</button>
   </div>
</div>
</form>
<br />
<table class="table table-bordered table-striped small deployments-table">
  <thead>
    <tr>
      <th> Name </th>
      <th> Environment </th>
      <th> Organization </th>
      <th> Status </th>
      <th> </th>
    </tr>
    </thead>

  <tbody>
  {{#each filteredDeployments as |deployment|}}
      {{tr-deployment deployment=deployment}}
  {{/each}}
  </tbody>
</table>

<p class='displaying-entries'>
  Displaying <strong>{{filteredDeployments.length}} of {{model.length}}</strong> entries
</p>

{{outlet}}

{{partial 'delete-deployment-modal'}}
