<br />
<h1>New {{nameRHCI}} Deployment: {{deploymentName}}</h1>

<div class="wizard-block">

  <div class="wizard-line"></div>

  <ul class="wizard">
    {{wizard-item num=1 name=nameSatellite routeName='satellite'}}

    {{#if isRhev}}
      {{wizard-item num=stepNumberRhev name=nameRhev routeName='rhev'}}
    {{/if}}

    {{#if isOpenStack}}
      {{wizard-item num=stepNumberOpenstack name=nameOpenStack routeName='openstack'}}
    {{/if}}

    {{#if isCloudForms}}
      {{wizard-item num=stepNumberCloudForms name=nameCloudForms routeName='cloudforms'}}
    {{/if}}

    {{#unless isUpstream}}
      {{wizard-item num=stepNumberSubscriptions name='Subscriptions' routeName='subscriptions' disabled=disableReview}}
    {{/unless}}

    {{wizard-item num=stepNumberReview name='Review' routeName='review' disabled=disableReview}}
  </ul>
</div>

{{outlet}}
