{{#em-modal-form configName="bs" id="editGlobalServiceConfigModal" on-submit="saveGlobalServiceConfig" open-if=editGlobalServiceConfigModalOpened close-if=editGlobalServiceConfigModalClosed in-async=async}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true" {{action "cancelEditRole"}}>×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Global Service Configuration</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
          <div role="tabpanel" class="tab-pane active global-config-settings-content">
              <div class="form-horizontal">
                  <fieldset>
                      <div class="form-group required">
                        {{#each planParameter in edittedPlanParameters}}
                          {{#if planParameter.isBoolean}}
                            {{check-f label=planParameter.displayId checked=planParameter.value labelSize='col-md-6' inputSize='col-md-5' isRequired=false helpText=planParameter.description}}
                          {{else}}
                            {{#if rolerParameter.isPassword}}
                              {{text-f label=planParameter.displayId value=planParameter.value  type='password' labelSize='col-md-6' inputSize='col-md-5' isRequired=false helpText=planParameter.description}}
                            {{else}}
                              {{text-f label=planParameter.displayId value=planParameter.value type=planParameter.inputType labelSize='col-md-6' inputSize='col-md-5' isRequired=false helpText=planParameter.description}}
                            {{/if}}
                          {{/if}}
                        {{/each}}
                      </div>
                  </fieldset>
              </div>
          </div>
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer class="modal-button-bar"}}
        <button type="cancel" class="btn btn-default" {{bind-attr disabled=async}} {{action "cancelGlobalServiceConfig"}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=async}} {{action "saveGlobalServiceConfig"}}>Save</button>
    {{/em-modal-footer}}

{{/em-modal-form}}
