{{#em-modal class="scrollable-form" configName="bs" id="nodeRegistrationModal" closeIfClickedOutside=handleOutsideClick open-if=registerNodesModalOpened close-if=registerNodesModalClosed in-async=async}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true" {{action "cancelRegisterNodes"}}>×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Node Registration</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
            {{#if registrationPaused}}
              <span>
                Warning: The registration process is paused while editting Nodes.
              </span>
            {{/if}}
            <div class="row register-nodes-formset" id="formset-register_nodes">
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-12 column" style="padding-bottom: 5px;">
                            <h3 class="col-xs-6 nodes-registered-count">{{edittedNodes.length}} Nodes</h3>
                            <a class="col-xs-2  nodes-add-button add-node-link" title="Upload from CSV" {{action "updloadCsvFile"}}>
                                <i class="fa fa-upload"></i>
                            </a>
                            <a class="col-xs-2  nodes-add-button add-node-link" title="Add node" {{action "addNode"}}>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                        <div style="display: none;">
                            <input id="regNodesUploadFileInput" value=selectedFile type="file" accept='text/csv' {{action "csvFileChosen" on="change"}}>
                        </div>
                    <ul class="nav nav-pills nav-stacked nav-registered-nodes">
                        {{#each node in edittedNodes}}
                            <li {{bind-attr class=node.isActiveClass}}>
                                <a {{action "selectNode" node}}>{{node.name}}</a>
                              {{#if node.isSelected}}
                                  <i class="fa fa-trash-o" {{action "removeNode" node}}></i>
                              {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <form>
                      <div class="col-xs-7" style="{{nodeFormStyle}}">
                          <div>
                              <h4>Node Detail</h4>
                              <div class="form-horizontal">
                                  <fieldset>
                                      <legend>Management</legend>
                                      {{select-simple-f label="Driver" labelSize='col-xs-4' inputSize='col-xs-6' content=drivers selection=selectedNode.driver prompt='unspecified' isRequired=true}}
                                      {{text-f label="IP Address" type='text' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedNode.ipAddress isRequired=true }}
                                      {{text-f label="IPMI User" type='text' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedNode.ipmiUsername isRequired=false}}
                                      {{text-f label="IPMI Password" type='password' labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' value=selectedNode.ipmiPassword isRequired=false}}

                                  </fieldset>
                                  <fieldset>
                                      <legend>Networking</legend>
                                      {{textarea-f label="NIC MAC Address" labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' value=selectedNode.nicMacAddress cols="40" placeholder="unspecified" rows="2" isRequired=true}}
                                  </fieldset>
                                  <fieldset>
                                      <legend>Hardware</legend>
                                      {{select-simple-f label="Architecture" labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' content=architectures selection=selectedNode.architecture prompt='unspecified' isRequired=true}}
                                      {{text-f label="CPUs" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedNode.cpu isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="cores"}}
                                      {{text-f label="Memory" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedNode.ram isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="MB"}}
                                      {{text-f label="Local Disk" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedNode.disk isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="GB"}}
                                  </fieldset>
                              </div>
                          </div>
                      </div>
                </form>
            </div>
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="cancel" class="btn btn-default" disabled={{async}} {{action "cancelRegisterNodes"}}>Cancel</button>
        <button type="submit" class="btn btn-primary" disabled={{async}} {{action "registerNodes"}}>Register Nodes</button>
    {{/em-modal-footer}}

{{/em-modal}}
