{{#em-modal-form configName="bs" id="nodeRegistrationModal" on-submit="registerNodes" open-if=registerNodesModalOpened close-if=registerNodesModalClosed in-async=async}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true" {{action "cancelRegisterNodes"}}>×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Node Registration</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
            {{#if registrationPaused}}
              <span>
                Warning: The registration process is paused while editting the Node Profiles.
              </span>
            {{/if}}
            <div class="row register-nodes-formset" id="formset-register_nodes">
                <div class="col-xs-5">
                    <ul class="nav nav-tabs nav-node-registration" role="tablist" id="add-nodes">
                        <li role="presentation" class="active">
                            <a href="#upload-nodes" aria-controls="upload-nodes" role="tab" data-toggle="tab" title="Upload node">
                                <i class="fa fa-upload"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a class="add-node-link" title="Add node" {{action "addProfile"}}>
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                    <h3 class="nodes-registered-count">{{edittedProfiles.length}} Nodes</h3>
                    <div class="modal-tab-content">
                        <div role="tabpanel" class="tab-pane active upload-nodes" id="upload-nodes">
                            <form>
                                <div class="form-group required">
                                    <input id="id_csv_file" name="csv_file" type="file">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-default">Cancel</button>
                                    <button type="button" class="btn btn-sm btn-primary">Upload Nodes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <ul class="nav nav-pills nav-stacked nav-registered-nodes">
                        {{#each profile in edittedProfiles}}
                            <li {{bind-attr class=profile.isActiveClass}}>
                                <a {{action "selectProfile" profile}}>{{profile.name}}</a>
                                <i class="fa fa-trash-o" {{action "removeProfile" profile}}></i>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <form>
                      <div class="col-xs-7" {{bind-attr style=nodeFormStyle}}>
                          <div>
                              <h4>Node Detail - {{selectedProfile.name}}</h4>
                              <div class="form-horizontal">
                                  <fieldset>
                                      <legend>Management</legend>
                                      {{select-simple-f label="Driver" labelSize='col-xs-4' inputSize='col-xs-6' content=drivers selection=selectedProfile.driver prompt='unspecified' isRequired=true}}
                                      {{text-f label="IP Address" type='text' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedProfile.ipAddress isRequired=true}}
                                      {{text-f label="IPMI User" type='text' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedProfile.ipmiUsername isRequired=false}}
                                      {{text-f label="IPMI Password" type='password' labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' value=selectedProfile.ipmiPassword isRequired=false}}

                                  </fieldset>
                                  <fieldset>
                                      <legend>Networking</legend>
                                      {{textarea-f label="NIC MAC Address" labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' value=selectedProfile.nicMacAddress cols="40" placeholder="unspecified" rows="2" isRequired=true}}
                                  </fieldset>
                                  <fieldset>
                                      <legend>Hardware</legend>
                                      {{select-simple-f label="Architecture" labelSize='form-label-nowrap col-xs-4' inputSize='col-xs-6' content=architectures selection=selectedProfile.architecture prompt='unspecified' isRequired=true}}
                                      {{text-f label="CPUs" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedProfile.cpu isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="cores"}}
                                      {{text-f label="Memory" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedProfile.ram isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="MB"}}
                                      {{text-f label="Local Disk" type='number' labelSize='col-xs-4' inputSize='col-xs-6' value=selectedProfile.ram isRequired=true unitsSize="input-units-label col-xs-2 muted" unitsLabel="GB"}}
                                  </fieldset>
                              </div>
                          </div>
                      </div>
                </form>
            </div>
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="cancel" class="btn btn-default" {{bind-attr disabled=async}} {{action "cancelRegisterNodes"}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=async}} {{action "registerNodes"}}>Register Nodes</button>
    {{/em-modal-footer}}

{{/em-modal-form}}
