<form class="form-horizontal new-node-form-auto">

  {{select-req-f  cssId="autoDriverInput"
                  label="Driver"
                  labelSize='col-xs-3'
                  inputSize='col-xs-4'
                  content=drivers
                  value=nodeInfo.driver
                  isValid=isDriverValid
                  showValidationError=showDriverValidationError
                  isRequired=true}}

  {{#if isIpmi}}
    {{select-req-f  cssId="autoVendorInputIpmi"
                    label=newNodeVendorLabel
                    labelSize='col-xs-3'
                    inputSize='col-xs-4'
                    content=vendors
                    value=ipmiVendor
                    isRequired=true}}
  {{else}}
    {{select-req-f  cssId="autoVendorInputSsh"
                    label=newNodeVendorLabel
                    labelSize='col-xs-3'
                    inputSize='col-xs-4'
                    content=vendors
                    value=virtVendor
                    isRequired=true}}
  {{/if}}

  {{text-f  cssId="autoAddressInput"
            label=newNodeAddressLabel
            type='text'
            labelSize='col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.address
            validator=hostAddressValidator
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}

  {{text-f  cssId="autoIpmiUserInput"
            label=newNodeUsernameLabel
            type='text'
            labelSize='col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.username
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}

  {{text-f  cssId="autoIpmiPasswordInput"
            label=newNodePasswordLabel
            type='password'
            labelSize='form-label-nowrap col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.password
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}
</form>
