<form class="form-horizontal new-node-form-manual">

  {{select-req-f  cssId="manualDriverInput"
                  label="Driver"
                  labelSize='col-xs-3'
                  inputSize='col-xs-4'
                  content=drivers
                  value=nodeInfo.driver
                  isValid=isDriverValid
                  showValidationError=showDriverValidationError
                  isRequired=true}}

  {{text-f  cssId="manualAddressInput"
            label=newNodeAddressLabel
            type='text'
            labelSize='col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.address
            validator=hostAddressValidator
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}

  {{text-f  cssId="manualUsernameInput2"
            label=newNodeUsernameLabel
            type='text'
            labelSize='col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.username
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}

  {{text-f  cssId="manualPasswordInput"
            label=newNodePasswordLabel
            type='password'
            labelSize='form-label-nowrap col-xs-3'
            inputSize='col-xs-4'
            value=nodeInfo.password
            resetErrorsMessageKey=resetErrorsMessageKey
            isRequired=true}}

  {{#each nodeInfo.macAddresses as |macAddress key| }}
    {{new-node-registration-mac-address macAddress=macAddress macAddressValidator=macAddressValidator prefix="newNode" index=key}}
  {{/each}}
</form>
<div class="row">
  <div class="col-xs-offset-3 col-xs-9">
    <button type="button" id="manualAddMacAddressButton" class="btn btn-primary" {{action "addMacAddress"}}><i class="fa fa-plus"></i> Add Another Node</button>
  </div>
</div>
