{{#if showSpinner}}
  <div class="spinner spinner-md spinner-inline"></div>
  <span class='spinner-text'>
    Loading OSP Nodes
  </span>
{{else}}
  <div class="row">
    <div class='col-md-9'>
      <p>Register nodes with the selected undercloud to build out your OpenStack environment.</p>
    </div>
  </div>

  {{#if hasNodes}}
    <div class="row">
      <div class='col-md-9'>
        <button id="register-nodes-button" class="btn btn-default register-more-nodes-button" {{action "showNodeRegistrationModal"}}>
          Register More Nodes
        </button>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class='col-md-9'>
        <button id="register-nodes-button" class="btn btn-primary register-nodes-button" {{action "showNodeRegistrationModal"}}>
          Register Nodes
        </button>
      </div>
    </div>

    <div class="row">
      <div class='col-md-9'>
        <p>
          No nodes have been registered yet. Discover nodes through IPMI auto-detection,
          mapping them in a CSV file, or entering node information manually.
        </p>
      </div>
    </div>
  {{/if}}

  <div class="osp-node-manager-list">
    {{#each nodeManagers as |nodeManager|}}
      {{osp-node-manager  nodeManager=nodeManager
                          ospPorts=ports
                          introspectionTasks=introspectionTasks
                          foremanTasks=foremanTasks
                          addNodes="addNodesToManager"
                          deleteNode="deleteNode"}}
    {{/each}}
  </div>
{{/if}}

{{cancel-back-next  backRouteName='undercloud-deploy'
                    disableBack=false
                    nextRouteName='assign-nodes'
                    disableNext=disableRegisterNodesNext
                    disableCancel=isStarted
                    deploymentName=deploymentName}}

{{partial 'new-node-registration'}}
{{partial 'delete-node-confirmation'}}
