<br />
{{#if showAlertMessage}}
    <div class="row">
        <div class='col-md-9'>
            <div class='alert alert-success rhci-alert'>
                <i class="fa fa-2x fa-check-circle-o green-circle"></i>
                &nbsp;
              {{registeredNode.name}} registered successfully.
            </div>
        </div>
    </div>
{{/if}}

<div class="row">
    <div class='col-md-5'>
      <h2>Registering Nodes</h2>
    </div>
</div>

<div class="progress-description">
  {{#if registrationError}}
      <span class="pficon-layered" data-toggle="tooltip" data-placement="top" title={{registrationErrorTip}}>
          <span class="pficon pficon-error-octagon"></span>
          <span class="pficon pficon-error-exclamation"></span>
            <strong>Error:</strong>  {{registrationErrorMessage}}
        </span>
  {{/if}}
</div>
{{#if hasDeploymentTasks}}

    {{#if taskRegisterNode_1}}
      {{progress-bar model=taskRegisterNode_1 isNodeProgressBar=true}}
    {{/if}}

    {{#if taskRegisterNode_2}}
      {{progress-bar model=taskRegisterNode_2 isNodeProgressBar=true}}
    {{/if}}

    {{#if taskRegisterNode_3}}
      {{progress-bar model=taskRegisterNode_3 isNodeProgressBar=true}}
    {{/if}}

    {{#if taskRegisterNode_4}}
      {{progress-bar model=taskRegisterNode_4 isNodeProgressBar=true}}
    {{/if}}

    {{#if taskRegisterNode_5}}
      {{progress-bar model=taskRegisterNode_5 isNodeProgressBar=true}}
    {{/if}}

{{else}}
  <div class="row">
    <div class='col-md-7'>
    {{#if noRegisteredNodes}}
      <p>
        Currently, there are no registered nodes available. You must have at least 3 nodes in order to continue
        this deployment. Use the Register Nodes button below to begin the registration process.
      </p>
    {{else}}
      <p>
        You can register more nodes to coalesce into Node Profiles. Use the Register Nodes button below to begin the registration process.
      </p>
    {{/if}}
    </div>
  </div>
{{/if}}

<div class="row">
    <div class='col-md-5'>
      <button class="btn btn-primary" {{action "showNodeRegistrationModal"}}>
          Register Nodes
      </button>
    </div>
</div>

{{#unless noRegisteredNodes}}
  <div class="row">
      <div class='col-md-5'>
          <h2>Coalescing Node Profiles</h2>
      </div>
  </div>

  {{#each profile in model.profiles}}
      <div class="row">
          <div class='col-md-7'>
            {{#if model.nodes}}
              {{node-profile profile=profile
                             nodes=model.nodes
                             stepNumberOpenstack=stepNumberOpenstack}}
            {{else}}
              {{node-profile profile=profile
                             stepNumberOpenstack=stepNumberOpenstack}}
            {{/if}}
          </div>
      </div>
  {{/each}}
{{/unless}}

<br />

{{cancel-back-next backRouteName='undercloud-deploy'
                   disableBack=false
                   nextRouteName='assign-nodes'
                   disableNext=disableRegisterNodesNext
                   parentController=controller
                   disableCancel=controllers.deployment.isStarted}}

{{partial 'new-node-registration'}}

