{{#if showSpinner}}
  <div class="spinner spinner-md spinner-inline"></div>
  <span class='spinner-text'>
    Loading OSP Nodes
  </span>
{{else}}

  {{#if errorMsg}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          {{errorMsg}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if showRegistrationErrors}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation validation-alert-icon"></i>
          <p class="validation-alert-message">There were errors encountered while trying to register nodes.</p>
          <ul class="validation-alert-message">
            {{#each registrationErrors as |registrationError|}}
              <li>{{registrationError}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if showNodeErrors}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation validation-alert-icon"></i>
          <p class="validation-alert-message">The following nodes have errors</p>
          <ul class="validation-alert-message">
            {{#each nodeErrors as |nodeError|}}
              <li>{{nodeError}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class='col-md-9'>
      <p>Register nodes with the selected undercloud to build out your OpenStack environment.</p>
    </div>
  </div>

  {{#if hasNodes}}
    <div class="row">
      <div class='col-md-9'>
        <button id="register-nodes-button" class="btn btn-default register-more-nodes-button" {{action "showNodeRegistrationModal"}}>
          Register More Nodes
        </button>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class='col-md-9'>
        <button id="register-nodes-button" class="btn btn-primary register-nodes-button" {{action "showNodeRegistrationModal"}}>
          Register Nodes
        </button>
      </div>
    </div>

    <div class="row">
      <div class='col-md-9'>
        <p>
          No nodes have been registered yet. Discover nodes through IPMI auto-detection,
          mapping them in a CSV file, or entering node information manually.
        </p>
      </div>
    </div>
  {{/if}}

  <div class="osp-node-manager-list">
    {{#each nodeManagers as |nodeManager|}}
      {{osp-node-manager  nodeManager=nodeManager
                          ports=ports
                          introspectionTasks=introspectionTasks
                          foremanTasks=foremanTasks
                          addNodes="addNodesToManager"
                          deleteNode="deleteNode"}}
    {{/each}}
  </div>
{{/if}}

{{cancel-back-next  backRouteName='undercloud-deploy'
                    disableBack=false
                    nextRouteName='assign-nodes'
                    disableNext=disableRegisterNodesNext
                    disableCancel=isStarted
                    deploymentName=deploymentName}}

{{partial 'new-node-registration'}}
{{partial 'delete-node-confirmation'}}
