<h4> Engine Configuration </h4>

<div class='row'>
  <div class='col-md-12'>
    <br />
    <form class="form form-horizontal">
      {{text-f label="Root password for Engine and Hypervisor(s)" type='password' value=rhev_root_password cssId='rhev_root_password' isRequired=true}}

      {{text-f label="Engine admin password" type='password' value=rhev_engine_admin_password cssId='rhev_engine_admin_password' isRequired=true}}

      {{text-f label="Datacenter Name" value=rhev_database_name placeholder='Leave blank for default' cssId='rhev_database_name'}}
      {{text-f label="Cluster Name" value=rhev_cluster_name placeholder='Leave blank for default' cssId='rhev_cluster_name'}}
      {{text-f label="Storage name" value=rhev_storage_name placeholder='Leave blank for default' cssId='rhev_storage_name'}}

      {{text-f label="CPU Type" value=rhev_cpu_type placeholder='Leave blank for default' help-inline='' cssId='rhev_cpu_type'}}
    </form>
  </div>
</div>

    <div class='pull-right'>
      <br />
      {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
      {{#link-to 'storage' class='btn btn-primary'}}Next{{/link-to}}
    </div>
