<div class='row'>
  <div class='col-md-12'>

  {{#if isCloudForms}}
    <h4> Data Domain </h4>
  {{/if}}

    <form class="form form-horizontal">

      {{#base-f label="Storage Type" isRequired=true}}

        {{#radio-button value="NFS" groupValue=rhev_storage_type id='nfs'
                        disabled=controllers.deployment.isStarted}}
          NFS
        {{/radio-button}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{#radio-button value="Local" groupValue=rhev_storage_type id='local' disabled=true}}
          <span class='disabled-color'>Local</span>
        {{/radio-button}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{#radio-button value="Gluster" groupValue=rhev_storage_type id='gluster' disabled=true}}
          <span class='disabled-color'>Gluster</span>
        {{/radio-button}}
      {{/base-f}}

      {{#if isNFS}}
          {{text-f label="Data Domain Name" value=rhev_storage_name placeholder='Leave blank for default' cssId='rhev_storage_name' disabled=controllers.deployment.isStarted}}
          {{text-f label="Storage Address" value=rhev_storage_address placeholder='Leave blank for default (Ex. 1.2.3.4)' cssId='rhev_storage_address' disabled=controllers.deployment.isStarted}}
          {{text-f label="Share Path" value=rhev_share_path placeholder='Leave blank for default (Ex. /nfs_data/rhev_storage)' cssId='rhev_share_path' disabled=controllers.deployment.isStarted}}

      {{else if isLocal}}
          {{text-f label="Storage Path" value=rhev_local_storage_path placeholder='Ex. /rhev/data_storage' isRequired=true cssId='rhev_local_storage_path' help-inline='This path will be created and given appropriate permissions - chown 36:36;chmod 0755, etc' disabled=controllers.deployment.isStarted}}

      {{else if isGluster}}
          {{text-f label="Node Name" value=rhev_gluster_node_name placeholder='Ex. node.example.com' isRequired=true cssId='rhev_gluster_node_name' isRequired=true disabled=controllers.deployment.isStarted}}
          {{text-f label="Node Address" value=rhev_gluster_node_address placeholder='Ex. 1.2.3.4' isRequired=true cssId='rhev_gluster_node_address' disabled=controllers.deployment.isStarted}}
          {{text-f label="SSH Port" value=rhev_gluster_ssh_port isRequired=true cssId='rhev_gluster_ssh_port' disabled=controllers.deployment.isStarted}}
          {{text-f label="Root Password" value=rhev_gluster_root_password isRequired=true cssId='rhev_gluster_root_password' type='password' disabled=controllers.deployment.isStarted}}
      {{/if}}

    </form>

  {{#if isCloudForms}}
    <h4> Export Domain </h4>

    <form class="form form-horizontal">

      {{text-f label="Export Domain Name" value=rhev_export_domain_name cssId='rhev_export_domain_name' isRequired=true disabled=controllers.deployment.isStarted}}
      {{text-f label="Storage Address" value=rhev_export_domain_address cssId='rhev_export_domain_address' isRequired=true disabled=controllers.deployment.isStarted}}
      {{text-f label="Share Path" value=rhev_export_domain_path cssId='rhev_export_domain_path' isRequired=true disabled=controllers.deployment.isStarted}}

    </form>
  {{/if}}

  </div>
</div>

{{cancel-back-next backRouteName='rhev-options'
                   disableBack=false
                   nextRouteName=step3RouteName
                   disableNext=disableNextStorage
                   parentController=controller
                   disableCancel=controllers.deployment.isStarted}}
