{{#if isCloudForms}}
  <h4> Data Domain </h4>
{{/if}}

<form class="form form-horizontal">

  {{#base-f label="Storage Type" isRequired=true}}

    {{#radio-button value="NFS" groupValue=model.rhev_storage_type id='nfs'
                    disabled=isStarted}}
      <span class="{{if isStarted 'disabled'}}">
        NFS
      </span>
    {{/radio-button}}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {{#radio-button value="Local" groupValue=model.rhev_storage_type id='local' disabled=true}}
      <span class="disabled">
        Local
      </span>
    {{/radio-button}}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {{#radio-button value="glusterfs" groupValue=model.rhev_storage_type id='gluster' disabled=deploymentController.isStarted}}
      <span class="{{if deploymentController.isStarted 'disabled'}}">
        Gluster
      </span>
    {{/radio-button}}
  {{/base-f}}
  {{#if isNFS}}
      {{text-f label="Data Domain Name" value=model.rhev_storage_name isRequired=true cssId='rhev_storage_name' disabled=isStarted validator=computerNameValidator}}
      {{text-f label="Storage Address" value=model.rhev_storage_address isRequired=true cssId='rhev_storage_address' disabled=isStarted validator=hostnameValidator}}
      {{text-f label="Share Path" value=model.rhev_share_path isRequired=true cssId='rhev_share_path' disabled=isStarted errors=errorsHashSharePath}}

      {{#if isCloudForms}}
        <h4> Export Domain </h4>
          {{text-f label="Export Domain Name" value=model.rhev_export_domain_name cssId='rhev_export_domain_name' isRequired=true disabled=deploymentController.isStarted validator=computerNameValidator}}
          {{text-f label="Storage Address" value=model.rhev_export_domain_address cssId='rhev_export_domain_address' isRequired=true disabled=deploymentController.isStarted validator=hostnameValidator}}
          {{text-f label="Share Path" value=model.rhev_export_domain_path cssId='rhev_export_domain_path' isRequired=true disabled=deploymentController.isStarted errors=errorsHashExportPath}}
      {{/if}}

      {{#if rhevIsSelfHosted}}
        <h4> Self-hosted RHEV Engine Storage Domain </h4>
          {{text-f label="Hosted Engine Storage Domain Name" value=model.hosted_storage_name cssId='hosted_storage_name' isRequired=true disabled=deploymentController.isStarted validator=computerNameValidator}}
          {{text-f label="Storage Address" value=model.hosted_storage_address cssId='hosted_storage_address' isRequired=true disabled=deploymentController.isStarted validator=hostnameValidator}}
          {{text-f label="Share Path" value=model.hosted_storage_path cssId='hosted_storage_path' isRequired=true disabled=deploymentController.isStarted errors=errorsHashhosted_enginePath}}
      {{/if}}

  {{else if isLocal}}
      {{text-f label="Storage Path" value=model.rhev_local_storage_path placeholder='Ex. /rhev/data_storage' isRequired=true cssId='rhev_local_storage_path' help-inline='This path will be created and given appropriate permissions - chown 36:36; chmod 0755, etc' disabled=isStarted}}

  {{else if isGluster}}
      {{text-f label="Data Domain Name" value=model.rhev_storage_name isRequired=true cssId='rhev_storage_name' disabled=isStarted validator=computerNameValidator}}
      {{text-f label="Storage Address" value=model.rhev_storage_address isRequired=true cssId='rhev_storage_address' disabled=isStarted validator=hostnameValidator}}
      {{text-f label="Share Path" value=model.rhev_share_path isRequired=true cssId='rhev_share_path' disabled=isStarted errors=errorsHashSharePath}}
      {{#if isCloudForms}}
        <h4> Export Domain </h4>
          {{text-f label="Export Domain Name" value=model.rhev_export_domain_name cssId='rhev_export_domain_name' isRequired=true disabled=deploymentController.isStarted validator=computerNameValidator}}
          {{text-f label="Storage Address" value=model.rhev_export_domain_address cssId='rhev_export_domain_address' isRequired=true disabled=deploymentController.isStarted validator=hostnameValidator}}
          {{text-f label="Share Path" value=model.rhev_export_domain_path cssId='rhev_export_domain_path' isRequired=true disabled=deploymentController.isStarted errors=errorsHashExportPath}}
      {{/if}}

      {{#if rhevIsSelfHosted}}
        <h4> Self-hosted RHEV Engine Storage Domain </h4>
          {{text-f label="Hosted Engine Storage Domain Name" value=model.hosted_storage_name cssId='hosted_storage_name' isRequired=true disabled=deploymentController.isStarted validator=computerNameValidator}}
          {{text-f label="Storage Address" value=model.hosted_storage_address cssId='hosted_storage_address' isRequired=true disabled=deploymentController.isStarted validator=hostnameValidator}}
          {{text-f label="Share Path" value=model.hosted_storage_path cssId='hosted_storage_path' isRequired=true disabled=deploymentController.isStarted errors=errorsHashhosted_enginePath}}
      {{/if}}

  {{/if}}

</form>

{{cancel-back-next backRouteName='rhev-options'
                   disableBack=false
                   nextRouteName=step3RouteName
                   disableNext=disableNextStorage
                   disableCancel=isStarted
                   deploymentName=deploymentName}}
