{{#wizard-step outlet=outlet}}

      {{#link-to 'subscriptions.credentials' tagName='li' disabled=disableTabCredentials}}
        <a>{{stepNumberSubscriptions}}A. Content Provider</a>
      {{/link-to}}

      {{#if isDisconnected}}
          {{#link-to 'subscriptions.review-subscriptions' tagName='li' disabled=disableTabReviewSubsciptions}}
            <a>{{stepNumberSubscriptions}}B. Review Subscriptions</a>
          {{/link-to}}

      {{else}}

          {{#link-to 'subscriptions.management-application' tagName='li' disabled=disableTabManagementApplication}}
            <a>{{stepNumberSubscriptions}}B. Subscription Management Application</a>
          {{/link-to}}

          {{#link-to 'subscriptions.select-subscriptions' tagName='li' disabled=disableTabSelectSubsciptions}}
            <a>{{stepNumberSubscriptions}}C. Add Subscriptions</a>
          {{/link-to}}

      {{/if}}

{{/wizard-step}}
