<div class='row'>
  <div class='col-md-9'>

    <p>
      Select where to install the primary CloudForms appliance.
      If you are installing both RHV and RHOSP, a worker appliance that uses the database of the primary appliance is installed on the other cloud provider.
    </p>

    <div class='ident-radio'>
      {{#radio-button value="RHEV" groupValue=cfmeInstallLoc changed="cfmeLocationChanged" id="install_on_rhev" disabled=disableRHEVradio dataQci="rhevCfmeInstallLoc"}}
        <span class="{{if disableRHEV 'disabled'}}">
          Install primary appliance on {{fullnameRhev}}
        </span>
      {{/radio-button}}
    </div>

    <div class='ident-radio'>
      {{#radio-button value="OpenStack" groupValue=cfmeInstallLoc changed="cfmeLocationChanged" id="install_on_openstack" disabled=disableOpenstackradio dataQci="openstackCfmeInstallLoc"}}
        <span class="inline-block {{if disableOpenStack 'disabled'}}">
          Install primary appliance on {{fullnameOpenStack}}
          <p style='margin-left:16px;' class="explanatory-text">
            Able to split virtualization workloads across multiple controller nodes
          </p>
        </span>
      {{/radio-button}}
    </div>

  </div>
</div>

{{cancel-back-next backRouteName=backRouteName
                   disableBack=false
                   nextRouteName='cloudforms.cfme-configuration'
                   disableNext=isInvalidCfmeInstallLocation
                   disableCancel=isStarted
                   deploymentName=deploymentName}}
