<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= h(yield(:title) || "Foreman") %></title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <%= favicon_link_tag "favicon.ico"%>

    <meta name="fusor-ember-cli/config/environment" content="%7B%22modulePrefix%22%3A%22fusor-ember-cli%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-inline%27%20%27unsafe-eval%27%20use.typekit.net%20connect.facebook.net%20maps.googleapis.com%20maps.gstatic.com%22%2C%22font-src%22%3A%22%27self%27%20data%3A%20use.typekit.net%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%20www.facebook.com%20p.typekit.net%22%2C%22style-src%22%3A%22%27self%27%20%27unsafe-inline%27%20use.typekit.net%22%2C%22frame-src%22%3A%22%27self%27%22%7D%2C%22APP%22%3A%7B%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_TRANSITIONS%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%2C%22rootElement%22%3A%22%23ember-app%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D">

    <%= stylesheet_link_tag 'application' %>
    <%= yield(:stylesheets) %>

    <%#= csrf_meta_tags %>
    <%#= javascript_include_tag 'topbar' %>
    <%#= yield(:javascripts) %>

    <script type="text/javascript">
      var URL_PREFIX = '<%= request.script_name %>';

      <% if protect_against_forgery? %>
        var AUTH_TOKEN = '<%= form_authenticity_token.inspect %>';
      <% end %>

      <% if SETTINGS[:mark_translated] && !Rails.env.test? %>
        var I18N_MARK = true;
      <% end %>

      <%= yield(:inline_javascripts) %>
    </script>

    <%= yield(:head) %>

  </head>

  <body>
    <!--[if lt IE 8]>
      <%= _('You are using an unsupported browser.') %>
    <![endif]-->
    <%= render "home/topbar" if User.current %>

    <%= yield %>

  </body>
</html>
