{{#if hasUpstreamConsumerUuid}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info rhci-alert'>
          This deployment already has a subscription management application <strong>{{upstreamConsumerName}}</strong> assigned to it.
      </div>
    </div>
  </div>
{{else if hasOrganizationUpstreamConsumerUUID}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info rhci-alert'>
          There is already a manifest uploaded for your organization: <strong> {{organizationUpstreamConsumerName}}</strong>
      </div>
    </div>
  </div>
{{/if}}

{{#if showErrorMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          &nbsp;
          {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class='row'>
  <div class='col-md-9'>
    <p>
      Satellite will have external network access and receive content directly from Red Hat Customer Portal.
    </p>
    <div class='ident-radio'>
      {{#radio-button value="redhat_cdn"
                      groupValue=contentProviderType
                      changed="providerTypeChanged"
                      id='redhat_cdn'
                      disabled=isStarted}}
        <span class="{{if isStarted 'disabled'}}">
          Yes
        </span>
      {{/radio-button}}

      {{#unless isDisconnected}}
          {{#if model.isAuthenticated}}
            <div class="row">
              <div class='col-md-9'>
                <div class='alert alert-success rhci-alert'>
                    <i class="fa fa-2x fa-check-circle-o green-circle"></i>
                    &nbsp;
                    You are already successfully authenticated as <strong>{{model.identification}}</strong> with the Red Hat Customer Portal.
                    <p style='margin-left:30px;'>
                      You may <a {{action 'logoutPortal'}}>logout</a> and then login as a different user.
                    </p>
                </div>
              </div>
            </div>
          {{else}}

          <div class='row'>
            <div class='col-md-9'>
              <br />
              Enter your Red Hat account information.
              <br />
              <br />
              <form class="form form-horizontal">
                <!-- invisble input password is hack to remove chrome autocomplete -->
                <input style="display:none">
                <input type="password" style="display:none">
                {{text-f label="Red Hat login" value=model.identification disabled=isStarted}}
                {{text-f label="Password" value=password type='password' disabled=isStarted}}

                  {{#base-f}}
                    <a href='https://www.redhat.com/wapps/sso/lostPassword.html' target='_blank'>
                      Forgot your login or password?
                    </a>
                  {{/base-f}}
              </form>
            </div>
          </div>
          {{/if}}
      {{/unless}}

    </div>

    <div class='ident-radio'>
      {{#radio-button value="disconnected"
                      groupValue=contentProviderType
                      changed="providerTypeChanged"
                      id='disconnected'
                      disabled=isStarted}}
      <span class="{{if isStarted 'disabled'}}">
        No, Satellite will have restricted network access.
      </span>
      {{/radio-button}}

      {{#if isDisconnected}}
          <p>
            Satellite needs a URL within the network from which it can access content.
          </p>
          {{text-f label="Content Mirror URL" value=cdnUrl disabled=false}}

          <p>
            <br />
            Subscriptions that are managed by Satellite need to be added through a subscription management application manifest, which you create and obtain through Customer Portal. This manifest will be assigned to an organization, and any system that registers with that organization can use those subscriptions.
          </p>

          <div style='padding-left:25px'>
              {{#if hasManifestFile}}
                        <div class='alert alert-success'>
                            <i class="fa fa-2x fa-check-circle-o green-circle"></i>
                            &nbsp;
                            You successfully uploaded manifest
                            <strong>{{manifestFile}}</strong>

                            <p style='margin-left:30px;'>
                              You may <a {{action 'uploadDifferentManifest'}}>upload</a> a different manifest.
                            </p>
                        </div>
              {{else}}

                  <input type='file' id='manifest-file-field'/>
                  <br />
                  {{button-f title='Upload' action='uploadManifest'}}
              {{/if}}
          </div>
      {{/if}}
    </div>

  </div>
</div>

{{#if isDisconnected}}

    {{cancel-back-next backRouteName=backRouteNameonCredentials
                       disableBack=false
                       nextRouteName='subscriptions.review-subscriptions'
                       disableNext=noManifestFile
                       disableCancel=isStarted
                       deploymentName=deploymentName}}

{{else}}

    {{#cancel-back-next backRouteName=backRouteNameonCredentials
                        disableBack=false
                        disableCancel=isStarted
                        deploymentName=deploymentName}}
        {{#button-f disabled=disableCredentialsNext action=actionCredentialsNext}}
            {{nextButtonTitle}} <i class="fa fa-angle-right"></i>
        {{/button-f}}
    {{/cancel-back-next}}

{{/if}}
