{{#if hasUpstreamConsumerUuid}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info'>
          This deployment already has a subscription management application: <strong>{{upstream_consumer_name}}</strong>
      </div>
    </div>
  </div>
{{/if}}

{{#if hasOrganizationUpstreamConsumerUUID}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info'>
          There is already a manifest uploaded for your organization: <strong> {{organizationUpstreamConsumerName}}</strong>
      </div>
    </div>
  </div>
{{/if}}

{{#if model.isAuthenticated}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-success'>
          <i class="fa fa-2x fa-check-circle-o green-circle"></i>
          &nbsp;
          You are already successfully authenticated as <strong>{{identification}}</strong> with the Red Hat Customer Portal.
          <br />
          <br />
          You may <a {{action 'logoutPortal'}}>logout</a> and then login as a different user.
      </div>
    </div>
  </div>
{{/if}}

{{#if showErrorMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          &nbsp;
          {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}


{{#unless model.isAuthenticated}}

Enter your Red Hat account information.

<div class='row'>
  <div class='col-md-9'>
    <br />
    <form class="form form-horizontal">
      {{text-f label="Red Hat login" value=identification}}
      {{text-f label="Password" value=password type='password'}}

        {{#base-f}}
          <a href='https://www.redhat.com/wapps/sso/lostPassword.html' target='_blank'>
            Forgot your login or password?
          </a>
        {{/base-f}}
    </form>
  </div>
</div>
{{/unless}}

{{#cancel-back-next backRouteName=''
                    disableBack=true
                    parentController=controller}}
    <button {{action 'loginPortal'}}
            {{bind-attr disabled=disableCredentialsNext}}
            class='btn btn-primary'>
        Next <i class="fa fa-angle-right"></i>
    </button>
{{/cancel-back-next}}