{{outlet}}

{{#if showManagementApplications}}

{{#if showAlertMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-success rhci-alert'>
          <i class="fa fa-2x fa-check-circle-o green-circle"></i>
          &nbsp;
          {{newSatelliteName}} added successfully.
      </div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class='col-md-9'>
    <div class='pull-right'>
      <button class="btn btn-primary" {{action 'registerNewSatellite'}} disabled={{isStarted}}>
        New Subscription Management Application
      </button>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class='col-md-9'>
    <table class="table table-bordered">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Subscriptions Attached</th>
        <th>UUID</th>
      </thead>
      <tbody>
        {{#each model as |managementApp|}}
          {{tr-management-app managementApp=managementApp
                              consumerUUID=sessionPortal.consumerUUID
                              action="selectManagementApp"
                              disabled=isStarted}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{partial 'new-satellite'}}

{{cancel-back-next backRouteName='subscriptions.credentials'
                   disableBack=false
                   nextRouteName='subscriptions.select-subscriptions'
                   disableNext=disableNextOnManagementApp
                   disableCancel=isStarted}}

{{/if}}



