{{#if showAttachedSuccessMessage}}
  <div class='alert alert-success'>
    <i class="fa fa-2x fa-check-circle-o green-circle"></i>
    &nbsp;
    Yeah! Successfully attached subscriptions! Attach more if you want.
  </div>
{{/if}}

<p>
Default subscription selections have been made for the components of your RHCI deployment. If the selections need to be adjusted, please do so before proceeding.
</p>

{{input type="checkbox" name="enableAnalytics" disabled=true checked=enableAnalytics}}
<span class={{analyticsColor}}>Enable Red Hat Analytics for all hosts</span>
<br />
<br />

<table class="table table-bordered small">
  <thead>
    <tr>
      <th> </th>
      <th> Subscription Name </th>
      <th> Contract Number </th>
      <th> System Type </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Available </th>
      <th> Quantity </th>
    </tr>
    </thead>

  <tbody>
  {{#each subscription in model itemController="subscription"}}
    {{tr-subscription subscription=subscription}}
  {{/each}}
  </tbody>
</table>

<br />
{{button-f class='btn btn-success' disabled=disableAttachButton title=buttonAttachTitle action="attachSubscriptions"}}

<br />
<br />

<div style='text-align:right'>
  <button {{action 'showModal' 'cancel-modal'}} class='btn btn-default'>Cancel</button>
  {{#link-to 'review.installation' class='btn btn-primary' disabled=disableSubscriptionsNext}}Next{{/link-to}}
</div>
