{{#if showAttachedSuccessMessage}}
  <div class='alert alert-success'>
    <i class="fa fa-2x fa-check-circle-o green-circle"></i>
    &nbsp;
    Yeah! Successfully attached subscriptions! Attach more if you want.
  </div>
{{/if}}

<p>
Default subscription selections have been made for the components of your RHCI deployment. If the selections need to be adjusted, please do so before proceeding.
</p>

{{input type="checkbox" name="enableAnalytics" disabled=false checked=enableAnalytics}}
<span class={{analyticsColor}}>Enable Red Hat Analytics for all hosts</span>
<br />
<br />

<table class="table table-bordered small">
  <thead>
    <tr>
      <th> </th>
      <th> Subscription Name </th>
      <th> Contract Number </th>
      <th> System Type </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Available </th>
      <th> Quantity </th>
    </tr>
    </thead>

  <tbody>
  {{#each subscription in model itemController="subscription"}}
    {{tr-subscription subscription=subscription}}
  {{else}}
    <tr>
      <td colspan="8">
        <p class='no_subscriptions'>
          No subscriptions found. Check your account in in the <a href='https://idp.redhat.com/idp/' target='_blank'>Red Hat Customer Portal</a> to verify you have subscriptions available.
        </p>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{cancel-back-next backRouteName='subscriptions.management-application'
                   disableBack=false
                   nextRouteName='review'
                   disableNext=false
                   parentController=controller
                   disableCancel=controllers.deployment.isStarted}}
