<h1>Entitlements</h1>
{{upstream_consumer_uuid}}

<h1>{{totalQuantity}} Subscriptions Attached</h1>

{{#each entitlement in model}}
    <p>
        {{entitlement.contractNumber}} - {{entitlement.quantity}} - {{entitlement.endDate}} - {{entitlement.consumed}} - {{entitlement.poolQuantity}}
    </p>
{{/each}}

<!-- HOW TO INTERATE AND ONLY SHOW UNIQUE ROWS -->

{{#em-modal configName="bs" id="entitlementsModal"}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">List of Entitlements</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if model.isLoaded}}

        <h1>{{totalQuantity}} Subscriptions Attached</h1>

        {{#each entitlement in model}}
            <p>
                {{entitlement.contractNumber}} - {{entitlement.quantity}} - {{entitlement.endDate}}
            </p>
        {{/each}}



         {{else}}
            Loading ...

        {{/if}}

    {{/em-modal-body}}

    {{#em-modal-footer}}
        {{!#em-modal-toggler class="btn btn-default"}}
          Close
        {{!/em-modal-toggler}}
    {{/em-modal-footer}}

{{/em-modal}}


{{outlet}}
