{{#if errorMsg}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-warning rhci-alert'>
        <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
        &nbsp;
        {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class='row'>
  <div class='col-md-9'>

    <p>
      Select where to provision the OpenShift Enterprise nodes.
    </p>

    <div class='ident-radio'>
      {{#radio-button value="RHEV" groupValue=openshiftInstallLoc changed="openshiftLocationChanged" id="install_on_rhev" disabled=disableRHEVradio}}
        <span class="{{if disableRHEV 'disabled'}}">
          Red Hat Enterprise Virtualization
        </span>
      {{/radio-button}}
    </div>

    <div class='ident-radio'>
      {{#radio-button value="OpenStack" groupValue=openshiftInstallLoc changed="openshiftLocationChanged" id="install_on_openstack" disabled=disableOpenstackradio}}
        <span class="inline-block {{if disableOpenStack 'disabled'}}">
          Red Hat Enterprise Linux OpenStack Platform
        </span>
      {{/radio-button}}
    </div>

    <br />
    <p>
      Select how many virtual machines should be created as nodes for the OpenShift environment.
      {{tool-tip faIcon='fa-info-circle'
                 title="The environment consists of worker nodes and master nodes, which orchestrates tasks across the other nodes. Master and worker nodes are provisioned with different specifications, as seen in Node Details."}}

    </p>

<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-9 col-lg-7 ose-number-node-buttons'>
    <div class='ose-number-buttons-block'>
      <span class='ose-node-label'>Master Nodes</span>
      {{button-selection label=1
                         value=1
                         groupValue=numMasterNodes
                         changed="numMasterNodesChanged"}}
      {{button-selection label=2
                         value=2
                         groupValue=numMasterNodes
                         changed="numMasterNodesChanged"
                         disabled=is2MasterOverCapacity}}
      {{button-selection label=3
                         value=3
                         groupValue=numMasterNodes
                         changed="numMasterNodesChanged"
                         disabled=is3MasterOverCapacity}}
      {{button-selection label=4
                         value=4
                         groupValue=numMasterNodes
                         changed="numMasterNodesChanged"
                         disabled=is4MasterOverCapacity}}
      {{button-selection label=5
                         value=5
                         groupValue=numMasterNodes
                         changed="numMasterNodesChanged"
                         disabled=is5MasterOverCapacity}}
      {{#if isCustomNumMasterNodes}}
        {{simple-text-f value=numMasterNodes
                        class='ose-custom-field'
                        disabled=deploymentController.isStarted
                        validator=positiveIntegerValidator
                        placeholder='Enter'}}
      {{else}}
        <a {{action 'showCustomNumMasterNodes'}}>advanced</a>
      {{/if}}

    </div>
    <div class='ose-number-buttons-block'>
      <span class='ose-node-label worker-nodes-label'>Worker Nodes</span>
      {{button-selection label=1
                         value=1
                         groupValue=numWorkerNodes
                         changed="numWorkerNodesChanged"}}
      {{button-selection label=2
                         value=2
                         groupValue=numWorkerNodes
                         changed="numWorkerNodesChanged"
                         disabled=is2WorkerOverCapacity}}
      {{button-selection label=3
                         value=3
                         groupValue=numWorkerNodes
                         changed="numWorkerNodesChanged"
                         disabled=is3WorkerOverCapacity}}
      {{button-selection label=4
                         value=4
                         groupValue=numWorkerNodes
                         changed="numWorkerNodesChanged"
                         disabled=is4WorkerOverCapacity}}
      {{button-selection label=5
                         value=5
                         groupValue=numWorkerNodes
                         changed="numWorkerNodesChanged"
                         disabled=is5WorkerOverCapacity}}
      {{#if isCustomNumWorkerNodes}}
        {{simple-text-f value=numWorkerNodes
                        class='ose-custom-field'
                        disabled=deploymentController.isStarted
                        validator=positiveIntegerValidator
                        placeholder='Enter'}}
      {{else}}
        <a {{action 'showCustomNumWorkerNodes'}}>advanced</a>
      {{/if}}
    </div>
    </div>
  </div>

    <br />
    <br />
    <p>
      Select how much additional storage is needed for Docker containers on each worker node.
    </p>

    {{button-selection label='15 GB'
                       value=15
                       groupValue=model.openshift_storage_size
                       changed="storageSizeChanged"}}
    {{button-selection label='20 GB'
                       value=20
                       groupValue=model.openshift_storage_size
                       changed="storageSizeChanged"}}
    {{button-selection label='25 GB'
                       value=25
                       groupValue=model.openshift_storage_size
                       changed="storageSizeChanged"}}
    {{button-selection label='30 GB'
                       value=30
                       groupValue=model.openshift_storage_size
                       changed="storageSizeChanged"}}
    {{#if isCustomStorageSize}}
      {{simple-text-f value=model.openshift_storage_size
                      class='ose-custom-field'
                      disabled=deploymentController.isStarted
                      validator=positiveIntegerValidator
                      placeholder='Enter'
                      suffix='GB'}}
    {{else}}
      <a {{action 'showCustomStorageSize'}}>advanced</a>
    {{/if}}

    {{#if showEnvironmentSummary}}
        {{ose-env-summary numNodes=numNodes
                          numMasterNodes=numMasterNodes
                          numWorkerNodes=numWorkerNodes
                          storageSize=storageSize
                          masterVcpu=masterVcpu
                          masterRam=masterRam
                          masterDisk=masterDisk
                          workerVcpu=workerVcpu
                          workerRam=workerRam
                          workerDisk=workerDisk
                          vcpuNeeded=vcpuNeeded
                          ramNeeded=ramNeeded
                          diskNeeded=diskNeeded
                          vcpuAvailable=vcpuAvailable
                          ramAvailable=ramAvailable
                          diskAvailable=diskAvailable
                          substractCfme=substractCfme
                          cfmeDisk=cfmeDisk
                          cfmeRam=cfmeRam
                          cfmeVcpu=cfmeVcpu}}

        {{node-details numNodes=model.numNodes
                       numMasterNodes=numMasterNodes
                       numWorkerNodes=numWorkerNodes
                       storageSize=storageSize
                       validator=positiveIntegerValidator
                       masterVcpu=masterVcpu
                       masterRam=masterRam
                       masterDisk=masterDisk
                       workerVcpu=workerVcpu
                       workerRam=workerRam
                       workerDisk=workerDisk}}
    {{/if}}

  </div>
</div>

{{cancel-back-next backRouteName=backRouteName
                   disableBack=false
                   nextRouteName='openshift.openshift-configuration'
                   disableNext=isInvalidOpenshiftNodes
                   disableCancel=isStarted
                   deploymentName=deploymentName}}
