{{#if isError}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-warning rhci-alert'>
        <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
        &nbsp;
        {{errorTypes}} is overcommitted. Consider lowering node counts or {{errorTypes}} sizes.
      </div>
    </div>
  </div>

  {{#if isOverCapacityVcpu}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-warning rhci-alert'>
          <p>
            Current Configuration Requirements
            {{#if isCloudForms}}
              {{tool-tip faIcon='fa-info-circle'
              title=cfmeTooltipError.cpu}}
            {{/if}}
          </p>
          <p>Master CPUs: {{totalMasterCpus}}</p>
          <p>Worker CPUs: {{totalWorkerCpus}}</p>
          <p><strong>Total CPUs required: {{vcpuNeeded}}</strong></p>
          <p><strong>Total CPUs available: {{vcpuAvailable}}</strong></p>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if isOverCapacityRam}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-warning rhci-alert'>
          <p>
            Current Configuration Requirements
            {{#if isCloudForms}}
              {{tool-tip faIcon='fa-info-circle'
              title=cfmeTooltipError.ram}}
            {{/if}}
          </p>
          <p>Master RAM: {{totalMasterRam}} GB</p>
          <p>Worker RAM: {{totalWorkerRam}} GB</p>
          <p><strong>Total RAM required: {{ramNeeded}} GB</strong></p>
          <p><strong>Total RAM available: {{ramAvailable}} GB</strong></p>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if isOverCapacityDisk}}
    <div class="row">
      <div class='col-md-9'>
        <div class='alert alert-warning rhci-alert'>
          <p>
            Current Configuration Requirements
            {{#if isCloudForms}}
              {{tool-tip faIcon='fa-info-circle'
              title=cfmeTooltipError.disk}}
            {{/if}}
          </p>
          <p>Master Disk: {{totalMasterDisk}} GB</p>
          <p>Worker Disk + Storage: {{totalWorkerDiskPlusStorage}} GB</p>
          <p><strong>Total Disk required: {{diskNeeded}} GB</strong></p>
          <p><strong>Total Disk available: {{diskAvailable}} GB</strong></p>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

<div class='row'>
  <div class='col-md-9'>

    <p>
      Select where to provision the OpenShift Enterprise nodes.
    </p>

    <div class='ident-radio'>
      {{#radio-button value="RHEV" groupValue=openshiftInstallLoc changed="openshiftLocationChanged" id="install_on_rhev" disabled=disableRHEVradio dataQci="rhevOspInstallLoc"}}
        <span class="{{if disableRHEV 'disabled'}}">
          {{fullnameRhev}}
        </span>
      {{/radio-button}}
    </div>

    <div class='ident-radio'>
      {{#radio-button value="OpenStack" groupValue=openshiftInstallLoc changed="openshiftLocationChanged" id="install_on_openstack" disabled=disableOpenstackradio dataQci="openstackOspInstallLoc"}}
        <span class="inline-block {{if disableOpenStack 'disabled'}}">
          {{fullnameOpenStack}}
        </span>
      {{/radio-button}}
    </div>

    {{#if openshiftInstallLoc}}
    <br />
    <p>
      Select how many virtual machines should be created as nodes for the OpenShift environment.
      {{tool-tip faIcon='fa-info-circle'
                 title="The environment consists of worker nodes and master nodes, which orchestrates tasks across the other nodes. Master and worker nodes are provisioned with different specifications, as seen in Node Details."}}

    </p>
    {{/if}}

{{#if openshiftInstallLoc}}
<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-9 col-lg-7 ose-number-node-buttons'>

    <div class='ose-number-buttons-block'>
      <span class='ose-node-label'>Master Nodes</span>

      {{button-selection
        label=1
        value=1
        groupValue=numMasterNodes
        buttonType='master'
        disabled=false}}

      {{tool-tip faIcon='fa-info-circle'
                 title="OpenShift deployments currently only support one Master Node"}}
    </div>

    <div class='ose-number-buttons-block'>
      <span class='ose-node-label worker-nodes-label'>Worker Nodes</span>

      {{
        button-selection
        label=_firstWorkerNode.ordinal
        value=_firstWorkerNode.ordinal
        groupValue=numWorkerNodes
        buttonType='worker'
        customFocused=isCustomNumWorkerNodes
        changed="numWorkerNodesChanged"
      }}

      {{#each _workerNodesMinusFirst as |_node|}}
        {{
          button-selection
          label=_node.ordinal
          value=_node.ordinal
          buttonType='worker'
          groupValue=numWorkerNodes
          changed="numWorkerNodesChanged"
          customFocused=isCustomNumWorkerNodes
          disabled=_node.isOverCapacity
        }}
      {{/each}}

      {{#if isCustomNumWorkerNodes}}
        {{simple-text-f value=numWorkerNodes
                        class='ose-custom-field'
                        disabled=deploymentController.isStarted
                        validator=positiveIntegerValidator
                        cssId='custom-worker-nodes'
                        placeholder='Enter'}}
      {{else}}
        <a data-qci='show-custom-worker-nodes'{{action 'showCustomNumWorkerNodes'}}>custom</a>
      {{/if}}

    </div>
    </div>
  </div>

    <br />
    <p>
      Select how much additional storage is needed for Docker containers on each worker node.
    </p>

    {{button-selection label='15 GB'
                       value=15
                       groupValue=model.openshift_storage_size
                       buttonType='storageSize'
                       customFocused=isCustomStorageSize
                       changed="storageSizeChanged"}}
    {{button-selection label='20 GB'
                       value=20
                       groupValue=model.openshift_storage_size
                       buttonType='storageSize'
                       customFocused=isCustomStorageSize
                       changed="storageSizeChanged"}}
    {{button-selection label='25 GB'
                       value=25
                       groupValue=model.openshift_storage_size
                       buttonType='storageSize'
                       customFocused=isCustomStorageSize
                       changed="storageSizeChanged"}}
    {{button-selection label='30 GB'
                       value=30
                       groupValue=model.openshift_storage_size
                       buttonType='storageSize'
                       customFocused=isCustomStorageSize
                       changed="storageSizeChanged"}}
    {{#if isCustomStorageSize}}
      {{simple-text-f value=model.openshift_storage_size
                      class='ose-custom-field'
                      disabled=deploymentController.isStarted
                      validator=positiveIntegerValidator
                      cssId='custom-storage-size'
                      placeholder='Enter'
                      suffix='GB'}}
    {{else}}
      <a data-qci='show-custom-storage-size'{{action 'showCustomStorageSize'}}>custom</a>
    {{/if}}

    {{#if showEnvironmentSummary}}
        {{ose-env-summary numNodesDisplay=numNodesDisplay
                          positiveIntegerValidator=positiveIntegerValidator
                          numMasterNodes=numMasterNodes
                          numWorkerNodes=numWorkerNodes
                          storageSize=storageSize
                          masterVcpu=masterVcpu
                          masterRam=masterRam
                          masterDisk=masterDisk
                          workerVcpu=workerVcpu
                          workerRam=workerRam
                          workerDisk=workerDisk
                          vcpuNeeded=vcpuNeeded
                          ramNeeded=ramNeeded
                          diskNeeded=diskNeeded
                          vcpuAvailable=vcpuAvailable
                          ramAvailable=ramAvailable
                          diskAvailable=diskAvailable
                          isCloudForms=isCloudForms
                          substractCfme=substractCfme
                          cfmeDisk=cfmeDisk
                          cfmeRam=cfmeRam
                          cfmeVcpu=cfmeVcpu}}

        {{node-details numNodesDisplay=numNodesDisplay
                       numMasterNodes=numMasterNodes
                       numWorkerNodes=numWorkerNodes
                       storageSize=storageSize
                       validator=positiveIntegerValidator
                       masterVcpu=masterVcpu
                       masterRam=masterRam
                       masterDisk=masterDisk
                       workerVcpu=workerVcpu
                       workerRam=workerRam
                       workerDisk=workerDisk}}
    {{/if}}

{{/if}}
  </div>
</div>

{{cancel-back-next backRouteName=backRouteName
                   disableBack=false
                   nextRouteName='openshift.openshift-configuration'
                   disableNext=isInvalidOpenshiftNodes
                   disableCancel=isStarted
                   deploymentName=deploymentName}}
